Repository tensorflow/model-optimization, changes with the labels that .github/labeler.yml gives for each.
All labels: technique:clustering, technique:pruning, technique:qat, comp:weight compression, api-review

Clusterable layer API.
  tensorflow_model_optimization/python/core/clustering/keras/BUILD
  tensorflow_model_optimization/python/core/clustering/keras/cluster_test.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_wrapper.py
  tensorflow_model_optimization/python/core/clustering/keras/clusterable_layer.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry_test.py
  tensorflow_model_optimization/python/core/clustering/keras/mnist_customerable_test.py
Labels: technique:clustering

Fix to add clustering_callbacks.py to the pip package and the api
  RELEASE.md
  tensorflow_model_optimization/python/core/api/clustering/keras/__init__.py
  tensorflow_model_optimization/python/core/clustering/keras/BUILD
Labels: technique:clustering, api-review

Update the way of incrementing pruning_step.
  tensorflow_model_optimization/python/core/sparsity/keras/BUILD
  tensorflow_model_optimization/python/core/sparsity/keras/prune_integration_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_callbacks.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_callbacks_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_wrapper.py
Labels: technique:pruning

Adds efficient special cases to the default bitpacking utils in tensor_encoding.
  tensorflow_model_optimization/python/core/internal/tensor_encoding/utils/tf_utils.py
  tensorflow_model_optimization/python/core/internal/tensor_encoding/utils/tf_utils_test.py
Labels: none

Add Conv2DTranspose supports.
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_quantize_registry.py
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_quantizers.py
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/quantize_numerical_test.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_functional_test.py
Labels: technique:qat

Some customer layers' call method have more than one input arguments. For example: The Masked LM layer for BERT.
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_wrapper.py
Labels: technique:pruning

1. The layer is in PruneRegistry (most keras built-in layers). 2. The layer is a `PrunableLayer` instance. 3. Newly added. The layer has a customer defined `get_prunable_weights` method.
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_wrapper.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_wrapper_test.py
Labels: technique:pruning

MLTOOLS-1055 add strip_clustering_cqat to CQAT API
  tensorflow_model_optimization/python/core/api/experimental/combine/__init__.py
  tensorflow_model_optimization/python/examples/cluster_preserve_qat/keras/mnist_cnn.py
Labels: api-review

MLTOOLS-1129 Fix and test for the clustering of layers with regularizer.
  tensorflow_model_optimization/python/core/clustering/keras/cluster.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_integration_test.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_test.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_wrapper.py
Labels: technique:clustering

Fix stripping for cluster wrappers Added test for the clustering of layers with regularizer.
  tensorflow_model_optimization/python/core/clustering/keras/cluster.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_integration_test.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_test.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_wrapper.py
Labels: technique:clustering

Fix pruning integration test bug.
  tensorflow_model_optimization/python/core/sparsity/keras/prune_integration_test.py
Labels: technique:pruning

Addressed reviewer's comments. Added test that demonstrates that 'bias' is not clustered by default.
  tensorflow_model_optimization/python/core/clustering/keras/BUILD
  tensorflow_model_optimization/python/core/clustering/keras/cluster_test.py
  tensorflow_model_optimization/python/core/clustering/keras/mnist_clusterable_layer_test.py
  tensorflow_model_optimization/python/core/clustering/keras/mnist_clustering_test.py
Labels: technique:clustering

Add fix for the case that prune wrapper is added but no layer is prunable.
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_callbacks.py
Labels: technique:pruning

MLTOOLS-1174 Fix bug for clustering with Conv1D, Conv3D layer
  tensorflow_model_optimization/python/core/clustering/keras/cluster_test.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry_test.py
Labels: technique:clustering

Fix pruning integration test bug.
  tensorflow_model_optimization/python/core/sparsity/keras/prune_integration_test.py
Labels: technique:pruning

Addressed reviewer's comments.
  tensorflow_model_optimization/python/core/clustering/keras/mnist_clustering_test.py
Labels: technique:clustering

MLTOOLS-1031 Clusterable layer API.
  tensorflow_model_optimization/python/core/api/clustering/keras/__init__.py
  tensorflow_model_optimization/python/core/clustering/keras/BUILD
  tensorflow_model_optimization/python/core/clustering/keras/cluster.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_test.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_wrapper.py
  tensorflow_model_optimization/python/core/clustering/keras/clusterable_layer.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_algorithm.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry_test.py
  tensorflow_model_optimization/python/core/clustering/keras/mnist_clusterable_layer_test.py
  tensorflow_model_optimization/python/core/clustering/keras/mnist_clustering_test.py
Labels: technique:clustering, api-review

Moved out AbstractClusteringAlgorithm from the clustering_registry.
  tensorflow_model_optimization/python/core/api/clustering/keras/__init__.py
  tensorflow_model_optimization/python/core/clustering/keras/BUILD
  tensorflow_model_optimization/python/core/clustering/keras/clustering_algorithm.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry.py
  tensorflow_model_optimization/python/core/clustering/keras/mnist_clusterable_layer_test.py
Labels: technique:clustering, api-review

MLTOOLS-1031 Fix for clusterable layer.
  tensorflow_model_optimization/python/core/api/clustering/keras/__init__.py
  tensorflow_model_optimization/python/core/clustering/keras/mnist_clusterable_layer_test.py
  tensorflow_model_optimization/python/core/clustering/keras/mnist_clustering_test.py
Labels: technique:clustering, api-review

Add internal change for metrics
  tensorflow_model_optimization/python/core/api/BUILD
  tensorflow_model_optimization/python/core/api/__init__.py
Labels: api-review

[Collaborative_optimizations] Cluster-preserving quantization aware training
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/__init__.py
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/cluster_preserve_quantize_registry.py
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/cluster_preserve_quantize_registry_test.py
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/cluster_utils.py
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/default_8bit_cluster_preserve_quantize_scheme.py
  tensorflow_model_optimization/python/examples/cluster_preserve_qat/__init__.py
  tensorflow_model_optimization/python/examples/cluster_preserve_qat/keras/BUILD
  tensorflow_model_optimization/python/examples/cluster_preserve_qat/keras/__init__.py
  tensorflow_model_optimization/python/examples/cluster_preserve_qat/keras/mnist_cnn.py
Labels: technique:qat

Clusterable layer is added to the public api.
  tensorflow_model_optimization/python/core/api/clustering/keras/__init__.py
  tensorflow_model_optimization/python/core/clustering/keras/mnist_clusterable_layer_test.py
  tensorflow_model_optimization/python/core/clustering/keras/mnist_clustering_test.py
Labels: technique:clustering, api-review

Add an example of combining sparsity & dynamic range quantization.
  tensorflow_model_optimization/python/examples/sparsity/keras/mnist/mnist_e2e.py
Labels: technique:pruning

Update compression API core to match with the RFC (https://github.com/tensorflow/community/pull/342).
  tensorflow_model_optimization/python/core/common/keras/compression/algorithm.py
  tensorflow_model_optimization/python/core/common/keras/compression/algorithms/bias_only.py
  tensorflow_model_optimization/python/core/common/keras/compression/algorithms/bias_only_test.py
  tensorflow_model_optimization/python/core/common/keras/compression/algorithms/different_training_and_inference.py
  tensorflow_model_optimization/python/core/common/keras/compression/algorithms/different_training_and_inference_test.py
  tensorflow_model_optimization/python/core/common/keras/compression/algorithms/same_training_and_inference.py
  tensorflow_model_optimization/python/core/common/keras/compression/algorithms/same_training_and_inference_test.py
  tensorflow_model_optimization/python/core/common/keras/compression/algorithms/weight_clustering.py
  tensorflow_model_optimization/python/core/common/keras/compression/algorithms/weight_clustering_test.py
  tensorflow_model_optimization/python/core/common/keras/compression/internal/optimize.py
Labels: comp:weight compression

[Clustering] Fix error message in clustering_registry.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry.py
Labels: technique:clustering

[Clustering] Fix error message in clustering_registry.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry.py
Labels: technique:clustering

MLTOOLS-1277 Refactor Clustering codebase
  tensorflow_model_optimization/python/core/clustering/keras/cluster.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_distributed_test.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_integration_test.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_test.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_wrapper.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_wrapper_test.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_algorithm.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry_test.py
  tensorflow_model_optimization/python/core/clustering/keras/mnist_clusterable_layer_test.py
  tensorflow_model_optimization/python/core/clustering/keras/mnist_clustering_test.py
Labels: technique:clustering

Subclassed models: Added versioning to usage of internal variable that has been renamed.
  tensorflow_model_optimization/python/core/clustering/keras/cluster.py
Labels: technique:clustering

MLTOOLS-1323 Fix cluster_wrapper_test.py::ClusterWeightsTest::testSameWeightsAreReturnedBeforeAndAfterSerialisation
  tensorflow_model_optimization/python/core/clustering/keras/cluster_wrapper_test.py
Labels: technique:clustering

Add support for Relu folding in Conv/DConv/Dense
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_quantize_layout_transform.py
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_transforms.py
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_transforms_test.py
Labels: technique:qat

MLTOOLS-1327 Fix ValueError when doing set_weights after clustering
  tensorflow_model_optimization/python/core/clustering/keras/cluster.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_test.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_wrapper.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_wrapper_test.py
  tensorflow_model_optimization/python/core/clustering/keras/mnist_clusterable_layer_test.py
Labels: technique:clustering

[Fix,Minor] CQAT was using the old ClusteringAlgorithm API.
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/cluster_preserve_quantize_registry.py
Labels: technique:qat

When using annotate_quantize_layer, the expectation after conversion to TFLite is that the annotated layer should be quantized. However, this is not true when the input layer is not quantized.
  tensorflow_model_optimization/python/core/quantization/keras/quantize.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_test.py
Labels: technique:qat

[Fix Minor] CQAT was using the old ClusteringAlgorithm API.
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/cluster_preserve_quantize_registry.py
Labels: technique:qat

Simple test for CQAT that guards it when call function is completely broken.
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/cluster_preserve_integration_test.py
Labels: technique:qat

Add monitoring for API usage
  tensorflow_model_optimization/python/core/keras/BUILD
  tensorflow_model_optimization/python/core/keras/metrics.py
  tensorflow_model_optimization/python/core/keras/metrics_test.py
  tensorflow_model_optimization/python/core/quantization/keras/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_transforms_test.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_wrapper.py
  tensorflow_model_optimization/python/core/sparsity/keras/BUILD
  tensorflow_model_optimization/python/core/sparsity/keras/prune.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_wrapper.py
Labels: technique:pruning, technique:qat

MLTOOLS-1318 Fix for sparsity-preserving clustering
  tensorflow_model_optimization/python/core/clustering/keras/cluster_integration_test.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_wrapper.py
Labels: technique:clustering

MLTOOLS-1257 Implementation of Average Gradient Clustering MLTOOLS-1258 Unit tests for Average Gradient Clustering
  tensorflow_model_optimization/python/core/clustering/keras/cluster_wrapper.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_algorithm.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry_test.py
Labels: technique:clustering

Added fix bug for clustering with Conv1D
  tensorflow_model_optimization/python/core/clustering/keras/cluster_test.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry_test.py
Labels: technique:clustering

Revert "MLTOOLS-1257 Implementation of Average Gradient Clustering"
  tensorflow_model_optimization/python/core/clustering/keras/cluster_wrapper.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_algorithm.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry_test.py
Labels: technique:clustering

.github/labeler.yml:

# Copyright 2020 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

technique:clustering:
- tensorflow_model_optimization/python/core/clustering/**/*
- tensorflow_model_optimization/python/core/api/clustering/**/*
- tensorflow_model_optimization/python/examples/clustering/**/*
- tensorflow_model_optimization/g3doc/guide/clustering/**/*

technique:pruning:
- tensorflow_model_optimization/python/core/sparsity/**/*
- tensorflow_model_optimization/python/core/api/sparsity/**/*
- tensorflow_model_optimization/python/examples/sparsity/**/*
- tensorflow_model_optimization/g3doc/guide/pruning/**/*

technique:qat:
- tensorflow_model_optimization/python/core/quantization/**/*
- tensorflow_model_optimization/python/core/api/quantization/**/*
- tensorflow_model_optimization/python/examples/quantization/**/*
- tensorflow_model_optimization/g3doc/guide/quantization/**/*

comp:weight compression:
- tensorflow_model_optimization/python/core/common/keras/compression/**/*

# Note: this does not capture all PRs that need a API review.
api-review:
- tensorflow_model_optimization/python/core/api/**/*
