Repository tensorflow/model-optimization, changes with the labels that .github/labeler.yml gives for each.
All labels: technique:clustering, technique:pruning, technique:qat, comp:weight compression, api-review

MLTOOLS-1319 MirroredVariable (created by tf.distribute) doesn't works with tf.custom_gradient.
  tensorflow_model_optimization/python/core/clustering/keras/cluster_distributed_test.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_algorithm.py
Labels: technique:clustering

Add QAT support for LeakyReLU
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_quantize_registry.py
Labels: technique:qat

Update comments to suggest current qat support
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_quantize_registry.py
Labels: technique:qat

Makes quantization scheme APIs public.
  tensorflow_model_optimization/python/core/api/BUILD
  tensorflow_model_optimization/python/core/api/quantization/keras/__init__.py
  tensorflow_model_optimization/python/core/api/quantization/keras/default_8bit/__init__.py
  tensorflow_model_optimization/python/core/api/quantization/keras/default_8bit/default_8bit_transforms/__init__.py
  tensorflow_model_optimization/python/core/api/quantization/keras/graph_transformations/__init__.py
  tensorflow_model_optimization/python/core/api/quantization/keras/graph_transformations/model_transformer/__init__.py
  tensorflow_model_optimization/python/core/api/quantization/keras/graph_transformations/transforms/__init__.py
Labels: technique:qat, api-review

Disable this test as it is failing after update with tf-nightly.
  tensorflow_model_optimization/python/core/quantization/keras/quantize_models_test.py
Labels: technique:qat

Support pruning nested model recursively.
  tensorflow_model_optimization/python/core/sparsity/keras/prune.py
  tensorflow_model_optimization/python/core/sparsity/keras/prune_integration_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/prune_test.py
Labels: technique:pruning

Fix for broken CI in TFMOT (test with OOM is disabled): quantize_model_test.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_models_test.py
Labels: technique:qat

MLTOOLS-1355 Fix for broken CQAT when Conv2D has kernel_initializer or bias_initializer or depthwise_initializer.
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/cluster_preserve_integration_test.py
  tensorflow_model_optimization/python/core/quantization/keras/graph_transformations/transforms.py
Labels: technique:qat

MLTOOLS-1365 CQAT stripping bug: In case of selective CQAT we just return layer without actual stripping.
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/cluster_preserve_integration_test.py
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/cluster_utils.py
Labels: technique:qat

MLTOOLS-1257 Implementation of Average Gradient Clustering MLTOOLS-1258 Unit tests for Average Gradient Clustering
  tensorflow_model_optimization/python/core/clustering/keras/cluster_wrapper.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_algorithm.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry_test.py
Labels: technique:clustering

MLTOOLS-1367 Create a switch between sum and avg for cluster gradient aggregation
  tensorflow_model_optimization/python/core/clustering/keras/BUILD
  tensorflow_model_optimization/python/core/clustering/keras/cluster_config.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_wrapper.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_algorithm.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry_test.py
Labels: technique:clustering

Add a fallback that uses (name, weight) tuple list when weight map key has a collision.
  tensorflow_model_optimization/python/core/quantization/keras/graph_transformations/model_transformer.py
  tensorflow_model_optimization/python/core/quantization/keras/graph_transformations/model_transformer_test.py
  tensorflow_model_optimization/python/core/quantization/keras/graph_transformations/transforms.py
Labels: technique:qat

Small fixes after merging with master.
  tensorflow_model_optimization/python/core/clustering/keras/cluster_test.py
  tensorflow_model_optimization/python/core/clustering/keras/clusterable_layer.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry.py
Labels: technique:clustering

Resolved small issues after updating with master.
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry.py
Labels: technique:clustering

Small fix after updating with master.
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry_test.py
Labels: technique:clustering

MLTOOLS-1220 Collaborative optimization overview document
  tensorflow_model_optimization/g3doc/guide/experimental/combine/collaborative_optimization.md
  tensorflow_model_optimization/g3doc/guide/experimental/combine/images/collaborative_optimization.png
  tensorflow_model_optimization/g3doc/guide/experimental/combine/images/collaborative_optimization_dist.png
  tensorflow_model_optimization/g3doc/guide/index.md
  tensorflow_model_optimization/g3doc/guide/optimize_further.md
Labels: none

Supports additional argument for QuantizeAnnotate.call.
  tensorflow_model_optimization/python/core/quantization/keras/quantize_annotate.py
Labels: technique:qat

Collaborative optimization overview document
  tensorflow_model_optimization/g3doc/guide/experimental/combine/collaborative_optimization.md
  tensorflow_model_optimization/g3doc/guide/experimental/combine/images/collaborative_optimization.png
  tensorflow_model_optimization/g3doc/guide/experimental/combine/images/collaborative_optimization_dist.png
  tensorflow_model_optimization/g3doc/guide/index.md
  tensorflow_model_optimization/g3doc/guide/optimize_further.md
Labels: none

Adds support for compressed weights that are strings.
  tensorflow_model_optimization/python/core/common/keras/compression/internal/optimize.py
Labels: comp:weight compression

fix quantize_annotate_layer() got an unexpected keyword argument 'input_shape'
  tensorflow_model_optimization/python/examples/quantization/keras/mnist_cnn.py
Labels: technique:qat

Implement update_training_weight functionality and add an example for it.
  tensorflow_model_optimization/python/core/common/keras/compression/algorithm.py
  tensorflow_model_optimization/python/core/common/keras/compression/algorithms/BUILD
  tensorflow_model_optimization/python/core/common/keras/compression/algorithms/periodical_update_and_scheduling.py
  tensorflow_model_optimization/python/core/common/keras/compression/algorithms/periodical_update_and_scheduling_test.py
  tensorflow_model_optimization/python/core/common/keras/compression/internal/optimize.py
Labels: comp:weight compression

[Clustering] Average Gradient Aggregation
  tensorflow_model_optimization/python/core/clustering/keras/BUILD
  tensorflow_model_optimization/python/core/clustering/keras/cluster.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_config.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_distributed_test.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_integration_test.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_test.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_wrapper.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_wrapper_test.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_algorithm.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry_test.py
  tensorflow_model_optimization/python/core/clustering/keras/mnist_clusterable_layer_test.py
  tensorflow_model_optimization/python/core/clustering/keras/mnist_clustering_test.py
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/cluster_preserve_quantize_registry.py
Labels: technique:clustering, technique:qat

Updates the decode function to use different ops to achieve the same results.
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/research/misc.py
Labels: none

MLTOOLS-1318 Fix for sparsity-preserving clustering
  tensorflow_model_optimization/python/core/clustering/keras/cluster_distributed_test.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_wrapper.py
Labels: technique:clustering

Add version information for pip releases
  tensorflow_model_optimization/__init__.py
Labels: none

MLTOOLS-1110 Addressing David's comments for the upstreaming PR.
  tensorflow_model_optimization/python/core/clustering/keras/cluster_test.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry.py
Labels: technique:clustering

Addressing comments:
  tensorflow_model_optimization/python/core/clustering/keras/cluster_test.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry.py
Labels: technique:clustering

Change deprecated OPTIMIZE_FOR_SIZE to DEFAULT
  tensorflow_model_optimization/g3doc/guide/quantization/post_training.md
Labels: technique:qat

MLTOOLS-1318 Fix for sparsity-preserving clustering
  tensorflow_model_optimization/python/core/clustering/keras/BUILD
  tensorflow_model_optimization/python/core/clustering/keras/cluster_distributed_test.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_wrapper.py
Labels: technique:clustering

Fixing pruning step increment bug.
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_wrapper.py
Labels: technique:pruning

Update roadmap on RNN quantization.
  tensorflow_model_optimization/g3doc/guide/roadmap.md
Labels: none

Assign bug numbers to TODOs
  ci/kokoro/gcp_ubuntu/Dockerfile
  ci/kokoro/gcp_ubuntu/build.sh
  tensorflow_model_optimization/python/core/common/keras/compression/BUILD
  tensorflow_model_optimization/python/core/common/keras/compression/internal/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_transforms_test.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_wrapper_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/prune_integration_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/prune_test.py
Labels: technique:pruning, technique:qat, comp:weight compression

Update tf_model_optimization code to use public keras API
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_wrapper.py
Labels: technique:pruning

MLTOOLS-1399 [Clustering] Enable RNN layers
  tensorflow_model_optimization/python/core/clustering/keras/cluster.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_integration_test.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_wrapper.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry_test.py
  tensorflow_model_optimization/python/examples/clustering/keras/imdb/BUILD
  tensorflow_model_optimization/python/examples/clustering/keras/imdb/imdb_gru.py
  tensorflow_model_optimization/python/examples/clustering/keras/imdb/imdb_lstm.py
  tensorflow_model_optimization/python/examples/clustering/keras/imdb/imdb_rnn.py
Labels: technique:clustering

MLTOOLS-1212 Artifactory tfmot-nigthly package doesn't work
  setup.py
Labels: none

[Clustering] Change function name in cluster_wrapper.
  tensorflow_model_optimization/python/core/clustering/keras/cluster.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_wrapper.py
Labels: technique:clustering

MLTOOLS-1110 Removing of clustering registry completely. Tested with TTT regression tests.
  tensorflow_model_optimization/python/core/api/clustering/keras/__init__.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_test.py
  tensorflow_model_optimization/python/core/clustering/keras/clusterable_layer.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_algorithm.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry_test.py
  tensorflow_model_optimization/python/core/clustering/keras/mnist_clusterable_layer_test.py
Labels: technique:clustering, api-review

Removed clustering registry completely.
  tensorflow_model_optimization/python/core/api/clustering/keras/__init__.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_test.py
  tensorflow_model_optimization/python/core/clustering/keras/clusterable_layer.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_algorithm.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry_test.py
  tensorflow_model_optimization/python/core/clustering/keras/mnist_clusterable_layer_test.py
Labels: technique:clustering, api-review

Update patch version to prepare for next release
  tensorflow_model_optimization/python/core/version.py
Labels: none

Remove legacy code. (It already be public in common/keras/compression.)
  tensorflow_model_optimization/python/core/internal/compression/keras/BUILD
  tensorflow_model_optimization/python/core/internal/compression/keras/__init__.py
  tensorflow_model_optimization/python/core/internal/compression/keras/compress.py
  tensorflow_model_optimization/python/core/internal/compression/keras/compress_test.py
  tensorflow_model_optimization/python/core/internal/compression/keras/compress_wrapper.py
  tensorflow_model_optimization/python/core/internal/compression/keras/compress_wrapper_test.py
Labels: none

.github/labeler.yml:

# Copyright 2020 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

technique:clustering:
- tensorflow_model_optimization/python/core/clustering/**/*
- tensorflow_model_optimization/python/core/api/clustering/**/*
- tensorflow_model_optimization/python/examples/clustering/**/*
- tensorflow_model_optimization/g3doc/guide/clustering/**/*

technique:pruning:
- tensorflow_model_optimization/python/core/sparsity/**/*
- tensorflow_model_optimization/python/core/api/sparsity/**/*
- tensorflow_model_optimization/python/examples/sparsity/**/*
- tensorflow_model_optimization/g3doc/guide/pruning/**/*

technique:qat:
- tensorflow_model_optimization/python/core/quantization/**/*
- tensorflow_model_optimization/python/core/api/quantization/**/*
- tensorflow_model_optimization/python/examples/quantization/**/*
- tensorflow_model_optimization/g3doc/guide/quantization/**/*

comp:weight compression:
- tensorflow_model_optimization/python/core/common/keras/compression/**/*

# Note: this does not capture all PRs that need a API review.
api-review:
- tensorflow_model_optimization/python/core/api/**/*
