Repository tensorflow/model-optimization, changes with the labels that .github/labeler.yml gives for each.
All labels: technique:clustering, technique:pruning, technique:qat, comp:weight compression, api-review

Use model.layers to search prunable layers instead of model.submodules.
  tensorflow_model_optimization/python/core/sparsity/keras/prune_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_policy_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_wrapper.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_wrapper_test.py
Labels: technique:pruning

PR copied
  tensorflow_model_optimization/python/core/sparsity/keras/BUILD
  tensorflow_model_optimization/python/core/sparsity/keras/prune.py
  tensorflow_model_optimization/python/core/sparsity/keras/prune_integration_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_impl.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_impl_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_utils.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_utils_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_wrapper.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_wrapper_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/test_utils.py
  tensorflow_model_optimization/python/core/sparsity/keras/tools/BUILD
  tensorflow_model_optimization/python/core/sparsity/keras/tools/check_sparsity_m_by_n.py
  tensorflow_model_optimization/python/examples/sparsity/keras/mnist/BUILD
  tensorflow_model_optimization/python/examples/sparsity/keras/mnist/mnist_e2e_sparsity2x4.py
Labels: technique:pruning

Updates colab imports since TF 2.6.0 has been released
  tensorflow_model_optimization/g3doc/guide/pruning/pruning_for_on_device_inference.ipynb
Labels: technique:pruning

Add flag to disable per-axis quantizers
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_quantize_registry.py
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_quantize_registry_test.py
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_quantize_scheme.py
Labels: technique:qat

Add block sparsity pruning in TF MOT.
  tensorflow_model_optimization/python/core/sparsity/keras/prune.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_impl.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_impl_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_wrapper.py
Labels: technique:pruning

Addressed reviewer's comments.
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_utils.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_wrapper.py
Labels: technique:pruning

Remove a duplicated test
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_wrapper_test.py
Labels: technique:pruning

Remove conv_batchnorm that used for TF v1, because it's not used anymore.
  tensorflow_model_optimization/python/core/quantization/keras/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_quantize_registry.py
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_transforms.py
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_transforms_test.py
  tensorflow_model_optimization/python/core/quantization/keras/layers/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/layers/conv_batchnorm.py
  tensorflow_model_optimization/python/core/quantization/keras/layers/conv_batchnorm_test.py
  tensorflow_model_optimization/python/core/quantization/keras/layers/conv_batchnorm_test_utils.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize.py
Labels: technique:qat

Add all trainable variable to wrapper and keep the order of the training weights as much as possible for the custom layer.
  tensorflow_model_optimization/python/core/quantization/keras/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/quantize_test.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_wrapper.py
Labels: technique:qat

MLTOOLS-1558 Write and publish PCQAT e2e example
  tensorflow_model_optimization/g3doc/guide/combine/collaborative_optimization.md
  tensorflow_model_optimization/g3doc/guide/combine/pcqat_example.ipynb
Labels: none

Write and publish PCQAT e2e example
  tensorflow_model_optimization/g3doc/guide/combine/collaborative_optimization.md
  tensorflow_model_optimization/g3doc/guide/combine/pcqat_example.ipynb
Labels: none

MLTOOLS-1450 Update TFMOT cluster guide with custom Keras layer clustering
  tensorflow_model_optimization/g3doc/guide/clustering/clustering_comprehensive_guide.ipynb
Labels: technique:clustering

Add all trainable variable to wrapper and keep the order of the training weights as much as possible for the custom layer.
  tensorflow_model_optimization/python/core/quantization/keras/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/quantize_test.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_wrapper.py
Labels: technique:qat

Update TFMOT cluster guide with custom Keras layer clustering
  tensorflow_model_optimization/g3doc/guide/clustering/clustering_comprehensive_guide.ipynb
Labels: technique:clustering

Improve performance
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/research/kashin.py
Labels: none

Internal changes
  tensorflow_model_optimization/python/core/quantization/keras/graph_transformations/model_transformer.py
  tensorflow_model_optimization/python/core/quantization/keras/graph_transformations/model_transformer_test.py
Labels: technique:qat

Internal changes
  tensorflow_model_optimization/python/core/quantization/keras/graph_transformations/model_transformer.py
  tensorflow_model_optimization/python/core/quantization/keras/graph_transformations/model_transformer_test.py
Labels: technique:qat

Internal change.
  tensorflow_model_optimization/python/core/quantization/keras/graph_transformations/model_transformer.py
  tensorflow_model_optimization/python/core/quantization/keras/graph_transformations/model_transformer_test.py
Labels: technique:qat

Internal change
  tensorflow_model_optimization/python/core/common/keras/compression/BUILD
Labels: comp:weight compression

Add N-bit QAT features (fake-quantization).
  tensorflow_model_optimization/python/core/api/BUILD
  tensorflow_model_optimization/python/core/api/quantization/keras/__init__.py
  tensorflow_model_optimization/python/core/api/quantization/keras/experimental/__init__.py
  tensorflow_model_optimization/python/core/api/quantization/keras/experimental/default_n_bit/__init__.py
  tensorflow_model_optimization/python/core/api/quantization/keras/experimental/default_n_bit/default_n_bit_transforms/__init__.py
  tensorflow_model_optimization/python/core/quantization/keras/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/experimental/default_n_bit/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/experimental/default_n_bit/README.md
  tensorflow_model_optimization/python/core/quantization/keras/experimental/default_n_bit/__init__.py
  tensorflow_model_optimization/python/core/quantization/keras/experimental/default_n_bit/default_n_bit_quantize_configs.py
  tensorflow_model_optimization/python/core/quantization/keras/experimental/default_n_bit/default_n_bit_quantize_layout_transform.py
  tensorflow_model_optimization/python/core/quantization/keras/experimental/default_n_bit/default_n_bit_quantize_registry.py
  tensorflow_model_optimization/python/core/quantization/keras/experimental/default_n_bit/default_n_bit_quantize_registry_test.py
  tensorflow_model_optimization/python/core/quantization/keras/experimental/default_n_bit/default_n_bit_quantize_scheme.py
  tensorflow_model_optimization/python/core/quantization/keras/experimental/default_n_bit/default_n_bit_quantizers.py
  tensorflow_model_optimization/python/core/quantization/keras/experimental/default_n_bit/default_n_bit_quantizers_test.py
  tensorflow_model_optimization/python/core/quantization/keras/experimental/default_n_bit/default_n_bit_transforms.py
  tensorflow_model_optimization/python/core/quantization/keras/experimental/default_n_bit/default_n_bit_transforms_test.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize.py
Labels: technique:qat, api-review

Add 2x4 structured sparsity model to Model Garden
  tensorflow_model_optimization/python/core/sparsity/keras/prune_integration_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_wrapper.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_wrapper_test.py
Labels: technique:pruning

Updated Clustering initialization default to KMEANS_PLUS_PLUS
  tensorflow_model_optimization/python/core/clustering/keras/cluster.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_integration_test.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_wrapper.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_wrapper_test.py
  tensorflow_model_optimization/python/core/clustering/keras/experimental/cluster.py
Labels: technique:clustering

Add QuantizeWrapperV2 that preserve weights order, and make it as a default for quantize_apply.
  tensorflow_model_optimization/python/core/api/quantization/keras/__init__.py
  tensorflow_model_optimization/python/core/quantization/keras/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/quantize.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_test.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_wrapper.py
Labels: technique:qat, api-review

Error message line when cloning model after quantize apply trimmed.
  tensorflow_model_optimization/python/core/quantization/keras/quantize.py
Labels: technique:qat

MLTOOLS-1606 Enable building of quantization/experimental module
  tensorflow_model_optimization/python/core/api/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/experimental/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/experimental/__init__.py
Labels: technique:qat, api-review

Make structured sparsity for available for functional layers
  tensorflow_model_optimization/python/core/sparsity/keras/prune_integration_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_wrapper.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_wrapper_test.py
Labels: technique:pruning

Supports kwarg for the layer call with non-tensor value.
  tensorflow_model_optimization/python/core/quantization/keras/graph_transformations/model_transformer.py
  tensorflow_model_optimization/python/core/quantization/keras/graph_transformations/model_transformer_test.py
Labels: technique:qat

MLTOOLS-1358: TFMOT : running our jupyter notebooks as a part of CI
  ci/jupyter/README.md
  ci/jupyter/run_jupyter_notebook.sh
  ci/jupyter/test_jupyter_notebooks.py
Labels: none

Fix for tensorflow_model_optimization import error
  tensorflow_model_optimization/python/core/api/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/experimental/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/experimental/__init__.py
Labels: technique:qat, api-review

Updated RELEASE.md for 0.7.
  RELEASE.md
Labels: none

Updated RELEASE.md for 0.7.
  RELEASE.md
Labels: none

MNIST example for clustering of MHA.
  tensorflow_model_optimization/python/core/clustering/keras/cluster.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_integration_test.py
  tensorflow_model_optimization/python/examples/clustering/keras/mnist/mnist_mha.py
Labels: technique:clustering

Support of MHA for clustering.
  tensorflow_model_optimization/python/core/clustering/keras/cluster.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_integration_test.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_wrapper.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry_test.py
Labels: technique:clustering

Added example for clustering of MHA.
  tensorflow_model_optimization/python/core/clustering/keras/cluster.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_integration_test.py
  tensorflow_model_optimization/python/examples/clustering/keras/mnist/mnist_mha.py
Labels: technique:clustering

Changed the current scheduler for sparsity 2/4 to be constant.
  tensorflow_model_optimization/python/core/sparsity/keras/prune_integration_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_impl.py
Labels: technique:pruning

Removed leftover from debugging.
  tensorflow_model_optimization/python/core/sparsity/keras/prune_integration_test.py
Labels: technique:pruning

Internal Change
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/BUILD
Labels: technique:qat

Remove experimental modules from top level API
  tensorflow_model_optimization/python/core/api/quantization/keras/__init__.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize.py
Labels: technique:qat, api-review

Remove experimental modules from top level API
  tensorflow_model_optimization/python/core/quantization/keras/quantize_models_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_policy_test.py
  tensorflow_model_optimization/python/core/version.py
Labels: technique:pruning, technique:qat

Add fixes to tests for compatibility with tf==2.5.1
  tensorflow_model_optimization/python/core/quantization/keras/quantize_models_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_policy_test.py
Labels: technique:pruning, technique:qat

.github/labeler.yml:

# Copyright 2020 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

technique:clustering:
- tensorflow_model_optimization/python/core/clustering/**/*
- tensorflow_model_optimization/python/core/api/clustering/**/*
- tensorflow_model_optimization/python/examples/clustering/**/*
- tensorflow_model_optimization/g3doc/guide/clustering/**/*

technique:pruning:
- tensorflow_model_optimization/python/core/sparsity/**/*
- tensorflow_model_optimization/python/core/api/sparsity/**/*
- tensorflow_model_optimization/python/examples/sparsity/**/*
- tensorflow_model_optimization/g3doc/guide/pruning/**/*

technique:qat:
- tensorflow_model_optimization/python/core/quantization/**/*
- tensorflow_model_optimization/python/core/api/quantization/**/*
- tensorflow_model_optimization/python/examples/quantization/**/*
- tensorflow_model_optimization/g3doc/guide/quantization/**/*

comp:weight compression:
- tensorflow_model_optimization/python/core/common/keras/compression/**/*

# Note: this does not capture all PRs that need a API review.
api-review:
- tensorflow_model_optimization/python/core/api/**/*
