Repository tensorflow/model-optimization, changes with the labels that .github/labeler.yml gives for each.
All labels: technique:clustering, technique:pruning, technique:qat, comp:weight compression, api-review

.github/labeler.yml:

# Copyright 2020 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

technique:clustering:
- tensorflow_model_optimization/python/core/clustering/**/*
- tensorflow_model_optimization/python/core/api/clustering/**/*
- tensorflow_model_optimization/python/examples/clustering/**/*
- tensorflow_model_optimization/g3doc/guide/clustering/**/*

technique:pruning:
- tensorflow_model_optimization/python/core/sparsity/**/*
- tensorflow_model_optimization/python/core/api/sparsity/**/*
- tensorflow_model_optimization/python/examples/sparsity/**/*
- tensorflow_model_optimization/g3doc/guide/pruning/**/*

technique:qat:
- tensorflow_model_optimization/python/core/quantization/**/*
- tensorflow_model_optimization/python/core/api/quantization/**/*
- tensorflow_model_optimization/python/examples/quantization/**/*
- tensorflow_model_optimization/g3doc/guide/quantization/**/*

comp:weight compression:
- tensorflow_model_optimization/python/core/common/keras/compression/**/*

# Note: this does not capture all PRs that need a API review.
api-review:
- tensorflow_model_optimization/python/core/api/**/*

Relax end layer constraints for PruneForLatencyOnXNNPack pruning policy
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_policy.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_policy_test.py
Labels: technique:pruning

Fix links in collaborative optimization Colabs
  tensorflow_model_optimization/g3doc/guide/combine/cqat_example.ipynb
  tensorflow_model_optimization/g3doc/guide/combine/pqat_example.ipynb
  tensorflow_model_optimization/g3doc/guide/combine/sparse_clustering_example.ipynb
Labels: none

Update TF Model Optimization Toolkit roadmap.
  tensorflow_model_optimization/g3doc/guide/roadmap.md
Labels: none

Move pruning-preserving quantization scheme out of the experimental API package
  tensorflow_model_optimization/python/core/api/BUILD
  tensorflow_model_optimization/python/core/api/quantization/keras/__init__.py
  tensorflow_model_optimization/python/core/api/quantization/keras/collaborative_optimizations/__init__.py
Labels: technique:qat, api-review

Add support for rescaling layer
  tensorflow_model_optimization/python/core/sparsity/keras/prune_registry.py
  tensorflow_model_optimization/python/core/sparsity/keras/prune_registry_test.py
Labels: technique:pruning

Add swish as supported activation in QAT.
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_quantize_registry.py
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_quantize_registry_test.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_aware_activation.py
Labels: technique:qat

DO NOT SUBMIT (for test)
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_quantize_layout_transform.py
Labels: technique:qat

MLTOOLS-1455 Enable BidirectionalRNN layer
  tensorflow_model_optimization/python/core/clustering/keras/cluster.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_integration_test.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_wrapper.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry_test.py
  tensorflow_model_optimization/python/examples/clustering/keras/imdb/imdb_multiple_cells.py
  tensorflow_model_optimization/python/examples/clustering/keras/imdb/imdb_utils.py
Labels: technique:clustering

MLTOOLS-1532: Support of MHA for clustering.
  .gitignore
  tensorflow_model_optimization/python/core/clustering/keras/cluster.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_integration_test.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_wrapper.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry_test.py
Labels: technique:clustering

Supports SyncBatchNormalization as same as BatchNormalization.
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_transforms.py
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_transforms_test.py
  tensorflow_model_optimization/python/core/quantization/keras/layers/conv_batchnorm_test_utils.py
Labels: technique:qat

Update QAT Colab documentation to switch to tf stable.
  tensorflow_model_optimization/g3doc/guide/quantization/training_example.ipynb
Labels: technique:qat

MLTOOLS-1520 Updates with 2 by 4 sparsity
  tensorflow_model_optimization/python/core/sparsity/keras/prune.py
  tensorflow_model_optimization/python/core/sparsity/keras/prune_integration_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_impl.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_impl_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_utils.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_utils_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_wrapper.py
  tensorflow_model_optimization/python/core/sparsity/keras/test_utils.py
Labels: technique:pruning

Updates for 2 for 4: pruning on channel_in instead of channel_out (for TFLITE)
  tensorflow_model_optimization/python/core/sparsity/keras/prune.py
  tensorflow_model_optimization/python/core/sparsity/keras/prune_integration_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_impl.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_impl_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_utils.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_utils_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_wrapper.py
  tensorflow_model_optimization/python/core/sparsity/keras/test_utils.py
Labels: technique:pruning

Added accuracy for mnist example in the comments.
  tensorflow_model_optimization/python/examples/sparsity/keras/mnist/mnist_e2e_sparsity2x4.py
Labels: technique:pruning

MLTOOLS-1520 Minor fixes
  tensorflow_model_optimization/python/core/sparsity/keras/prune_integration_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_utils.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_utils_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/tools/check_sparsity_2x4.py
  tensorflow_model_optimization/python/examples/sparsity/keras/mnist/mnist_e2e_sparsity2x4.py
Labels: technique:pruning

PR #50519: GPU Symmetric Fake Quantization
  tensorflow_model_optimization/python/core/quantization/keras/quantize_aware_activation_test.py
Labels: technique:qat

PR #50519: GPU Symmetric Fake Quantization
  tensorflow_model_optimization/python/core/quantization/keras/quantize_aware_activation_test.py
Labels: technique:qat

Enable InceptionV3 quantization model test
  tensorflow_model_optimization/python/core/quantization/keras/quantize_models_test.py
Labels: technique:qat

MLTOOLS-1540 Add pylint-ignore.md so that current errors/warnings from pylint for mlt/master will be ignored by our CI in future
  tensorflow_model_optimization/README
  tensorflow_model_optimization/pylint-ignore.md
  tensorflow_model_optimization/pylintrc
Labels: none

Removed un-used logging from import.
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_impl.py
Labels: technique:pruning

Minor fixes
  tensorflow_model_optimization/python/core/sparsity/keras/prune_integration_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_utils.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_utils_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/tools/check_sparsity_2x4.py
  tensorflow_model_optimization/python/examples/sparsity/keras/mnist/mnist_e2e_sparsity2x4.py
Labels: technique:pruning

MLTOOLS-1540 Add pylint-ignore in the requirement.txt in tfmot
  requirements.txt
Labels: none

MLTOOLS-1540 Update the pylint-ignore.md
  tensorflow_model_optimization/pylint-ignore.md
Labels: none

[Clustering] Add the layer suport for StackedRNNCells, PeepholeLSTMCell, and Bidirectional.
  tensorflow_model_optimization/python/core/clustering/keras/cluster.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_integration_test.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_wrapper.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry_test.py
  tensorflow_model_optimization/python/examples/clustering/keras/imdb/BUILD
  tensorflow_model_optimization/python/examples/clustering/keras/imdb/imdb_multiple_cells.py
  tensorflow_model_optimization/python/examples/clustering/keras/imdb/imdb_utils.py
Labels: technique:clustering

MLTOOLS-1540 Update pylint-ignore.md and pylintrc so that the linting checks will pass for both tf-nightly and tf 2.5.0
  tensorflow_model_optimization/pylint-ignore.md
  tensorflow_model_optimization/pylintrc
Labels: none

Fixed imdb pruning example to point to the right `sequence` object.
  tensorflow_model_optimization/python/examples/sparsity/keras/imdb/imdb_lstm.py
Labels: technique:pruning

check the trainable type for tf.keras.layers.Layer.__init__ to be boolean.
  tensorflow_model_optimization/python/core/sparsity/keras/prune_registry_test.py
Labels: technique:pruning

Make sure pruning policy works for several application of PruneLowMagnitude wrapper
  tensorflow_model_optimization/python/core/sparsity/keras/BUILD
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_policy.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_policy_test.py
Labels: technique:pruning

MLTOOLS-1543 M by N Sparsity
  tensorflow_model_optimization/python/core/sparsity/keras/prune.py
  tensorflow_model_optimization/python/core/sparsity/keras/prune_integration_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_impl.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_impl_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_utils.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_utils_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_wrapper.py
  tensorflow_model_optimization/python/core/sparsity/keras/test_utils.py
  tensorflow_model_optimization/python/core/sparsity/keras/tools/check_sparsity_m_by_n.py
  tensorflow_model_optimization/python/examples/sparsity/keras/mnist/mnist_e2e_sparsity2x4.py
Labels: technique:pruning

M by N Sparsity
  tensorflow_model_optimization/python/core/sparsity/keras/prune.py
  tensorflow_model_optimization/python/core/sparsity/keras/prune_integration_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_impl.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_impl_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_utils.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_utils_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_wrapper.py
  tensorflow_model_optimization/python/core/sparsity/keras/test_utils.py
  tensorflow_model_optimization/python/core/sparsity/keras/tools/check_sparsity_m_by_n.py
  tensorflow_model_optimization/python/examples/sparsity/keras/mnist/mnist_e2e_sparsity2x4.py
Labels: technique:pruning

Addressed reviewer's comments.
  tensorflow_model_optimization/python/core/sparsity/keras/test_utils.py
Labels: technique:pruning

Remove "at least 2D" rank expansion in fit/predict/evaluate.
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_transforms_test.py
Labels: technique:qat

MLTOOLS-1543 Minor update
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_utils.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_wrapper.py
Labels: technique:pruning

update cusrtom object
  tensorflow_model_optimization/python/core/quantization/keras/quantize.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_config.py
Labels: technique:qat

correct module name
  tensorflow_model_optimization/python/core/quantization/keras/quantize.py
Labels: technique:qat

MLTOOLS-1562 Replaced fallback to unstructured pruning with the thrown error.
  tensorflow_model_optimization/python/core/sparsity/keras/prune.py
  tensorflow_model_optimization/python/core/sparsity/keras/prune_integration_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_impl.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_wrapper.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_wrapper_test.py
Labels: technique:pruning

Minor update
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_utils.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_wrapper.py
Labels: technique:pruning

Replaced fallback to unstructured pruning with the thrown error.
  tensorflow_model_optimization/python/core/sparsity/keras/prune.py
  tensorflow_model_optimization/python/core/sparsity/keras/prune_integration_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_impl.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_wrapper.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_wrapper_test.py
Labels: technique:pruning

Add Default8BitConvTransposeQuantizeConfig to the custom objects dict (used in model loading)
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_quantize_registry.py
Labels: technique:qat

Add monitoring for sparsity tooling API usage.
  tensorflow_model_optimization/python/core/keras/metrics.py
  tensorflow_model_optimization/python/core/sparsity/keras/tools/BUILD
  tensorflow_model_optimization/python/core/sparsity/keras/tools/sparsity_tooling.py
Labels: technique:pruning
