Repository tensorflow/model-optimization, changes with the labels that .github/labeler.yml gives for each.
All labels: technique:clustering, technique:pruning, technique:qat, comp:weight compression, api-review

.github/labeler.yml:

# Copyright 2020 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

technique:clustering:
- tensorflow_model_optimization/python/core/clustering/**/*
- tensorflow_model_optimization/python/core/api/clustering/**/*
- tensorflow_model_optimization/python/examples/clustering/**/*
- tensorflow_model_optimization/g3doc/guide/clustering/**/*

technique:pruning:
- tensorflow_model_optimization/python/core/sparsity/**/*
- tensorflow_model_optimization/python/core/api/sparsity/**/*
- tensorflow_model_optimization/python/examples/sparsity/**/*
- tensorflow_model_optimization/g3doc/guide/pruning/**/*

technique:qat:
- tensorflow_model_optimization/python/core/quantization/**/*
- tensorflow_model_optimization/python/core/api/quantization/**/*
- tensorflow_model_optimization/python/examples/quantization/**/*
- tensorflow_model_optimization/g3doc/guide/quantization/**/*

comp:weight compression:
- tensorflow_model_optimization/python/core/common/keras/compression/**/*

# Note: this does not capture all PRs that need a API review.
api-review:
- tensorflow_model_optimization/python/core/api/**/*

Automated Code Change
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/research/BUILD
Labels: none

Automated Code Change
  tensorflow_model_optimization/python/core/quantization/keras/collab_opts/prune_preserve/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/experimental/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/experimental/default_n_bit/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/graph_transformations/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/layers/BUILD
  tensorflow_model_optimization/python/core/sparsity/BUILD
  tensorflow_model_optimization/python/core/sparsity/keras/BUILD
  tensorflow_model_optimization/python/core/sparsity/keras/tools/BUILD
  tensorflow_model_optimization/python/examples/clustering/keras/imdb/BUILD
Labels: technique:clustering, technique:pruning, technique:qat

Automated Code Change
  tensorflow_model_optimization/python/core/keras/testing/BUILD
Labels: none

Automated Code Change
  tensorflow_model_optimization/BUILD
  tensorflow_model_optimization/python/BUILD
  tensorflow_model_optimization/python/core/BUILD
  tensorflow_model_optimization/python/core/api/BUILD
  tensorflow_model_optimization/python/core/clustering/BUILD
  tensorflow_model_optimization/python/core/clustering/keras/BUILD
  tensorflow_model_optimization/python/core/clustering/keras/experimental/BUILD
  tensorflow_model_optimization/python/core/internal/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/core/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/encoders/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/research/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/testing/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/utils/BUILD
  tensorflow_model_optimization/python/core/keras/BUILD
  tensorflow_model_optimization/python/core/keras/testing/BUILD
  tensorflow_model_optimization/python/core/quantization/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/collab_opts/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/collab_opts/cluster_preserve/BUILD
Labels: technique:clustering, technique:qat, api-review

Automated Code Change
  tensorflow_model_optimization/python/core/quantization/keras/BUILD
Labels: technique:qat

Automated Code Change
  tensorflow_model_optimization/python/core/sparsity/keras/tools/BUILD
Labels: technique:pruning

Automated Code Change
  tensorflow_model_optimization/python/core/quantization/keras/collab_opts/prune_preserve/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/experimental/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/experimental/default_n_bit/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/graph_transformations/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/layers/BUILD
  tensorflow_model_optimization/python/core/sparsity/BUILD
  tensorflow_model_optimization/python/core/sparsity/keras/BUILD
  tensorflow_model_optimization/python/core/sparsity/keras/tools/BUILD
  tensorflow_model_optimization/python/examples/clustering/keras/imdb/BUILD
Labels: technique:clustering, technique:pruning, technique:qat

Automated Code Change
  tensorflow_model_optimization/BUILD
  tensorflow_model_optimization/python/BUILD
  tensorflow_model_optimization/python/core/BUILD
  tensorflow_model_optimization/python/core/api/BUILD
  tensorflow_model_optimization/python/core/clustering/BUILD
  tensorflow_model_optimization/python/core/clustering/keras/BUILD
  tensorflow_model_optimization/python/core/clustering/keras/experimental/BUILD
  tensorflow_model_optimization/python/core/internal/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/core/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/encoders/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/research/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/testing/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/utils/BUILD
  tensorflow_model_optimization/python/core/keras/BUILD
  tensorflow_model_optimization/python/core/keras/testing/BUILD
  tensorflow_model_optimization/python/core/quantization/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/collab_opts/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/collab_opts/cluster_preserve/BUILD
Labels: technique:clustering, technique:qat, api-review

docs: clarify quantized Add + tanh fusion limitation in TFLite
  tensorflow_model_optimization/python/core/quantization/README.md
Labels: technique:qat

Automated Code Change
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/research/BUILD
Labels: none

Automated Code Change
  tensorflow_model_optimization/python/core/keras/testing/BUILD
Labels: none

Automated Code Change
  tensorflow_model_optimization/python/core/sparsity/keras/tools/BUILD
  tensorflow_model_optimization/python/examples/clustering/keras/imdb/BUILD
Labels: technique:clustering, technique:pruning

Automated Code Change
  tensorflow_model_optimization/python/core/quantization/keras/collab_opts/prune_preserve/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/experimental/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/experimental/default_n_bit/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/graph_transformations/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/layers/BUILD
  tensorflow_model_optimization/python/core/sparsity/BUILD
  tensorflow_model_optimization/python/core/sparsity/keras/BUILD
  tensorflow_model_optimization/python/core/sparsity/keras/tools/BUILD
  tensorflow_model_optimization/python/examples/clustering/keras/imdb/BUILD
Labels: technique:clustering, technique:pruning, technique:qat

Automated Code Change
  tensorflow_model_optimization/python/core/sparsity/keras/tools/BUILD
Labels: technique:pruning

Automated Code Change
  tensorflow_model_optimization/python/core/clustering/keras/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/collab_opts/cluster_preserve/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/collab_opts/prune_preserve/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/experimental/default_n_bit/BUILD
  tensorflow_model_optimization/python/core/sparsity/keras/BUILD
  tensorflow_model_optimization/python/core/sparsity/keras/tools/BUILD
Labels: technique:clustering, technique:pruning, technique:qat

Automated Code Change
  tensorflow_model_optimization/BUILD
Labels: none

Automated Code Change
  tensorflow_model_optimization/python/core/keras/testing/BUILD
Labels: none

Automated Code Change
  tensorflow_model_optimization/BUILD
  tensorflow_model_optimization/python/BUILD
  tensorflow_model_optimization/python/core/BUILD
  tensorflow_model_optimization/python/core/api/BUILD
  tensorflow_model_optimization/python/core/clustering/BUILD
  tensorflow_model_optimization/python/core/clustering/keras/BUILD
  tensorflow_model_optimization/python/core/clustering/keras/experimental/BUILD
  tensorflow_model_optimization/python/core/internal/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/core/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/encoders/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/research/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/testing/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/utils/BUILD
  tensorflow_model_optimization/python/core/keras/BUILD
  tensorflow_model_optimization/python/core/keras/testing/BUILD
  tensorflow_model_optimization/python/core/quantization/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/collab_opts/BUILD
Labels: technique:clustering, technique:qat, api-review

Automated Code Change
  tensorflow_model_optimization/python/core/sparsity/keras/tools/BUILD
  tensorflow_model_optimization/python/examples/clustering/keras/imdb/BUILD
Labels: technique:clustering, technique:pruning

Automated Code Change
  tensorflow_model_optimization/python/core/clustering/keras/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/collab_opts/cluster_preserve/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/collab_opts/prune_preserve/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/experimental/default_n_bit/BUILD
  tensorflow_model_optimization/python/core/sparsity/keras/BUILD
  tensorflow_model_optimization/python/core/sparsity/keras/tools/BUILD
Labels: technique:clustering, technique:pruning, technique:qat

Automated Code Change
  tensorflow_model_optimization/python/core/clustering/keras/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/collab_opts/cluster_preserve/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/collab_opts/prune_preserve/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/experimental/default_n_bit/BUILD
  tensorflow_model_optimization/python/core/sparsity/keras/BUILD
  tensorflow_model_optimization/python/core/sparsity/keras/tools/BUILD
  tensorflow_model_optimization/python/examples/clustering/keras/imdb/BUILD
Labels: technique:clustering, technique:pruning, technique:qat

Automated Code Change
  tensorflow_model_optimization/python/core/keras/testing/BUILD
Labels: none

Automated Code Change
  tensorflow_model_optimization/BUILD
Labels: none

Internal change.
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/BUILD
Labels: technique:qat

Automated Code Change
  tensorflow_model_optimization/python/core/internal/tensor_encoding/core/BUILD
Labels: none

Automated Code Change
  tensorflow_model_optimization/python/core/internal/BUILD
Labels: none

Automated Code Change
  tensorflow_model_optimization/python/core/internal/tensor_encoding/BUILD
Labels: none

Automated Code Change
  tensorflow_model_optimization/python/core/internal/tensor_encoding/encoders/BUILD
Labels: none

Automated Code Change
  tensorflow_model_optimization/python/core/keras/testing/BUILD
Labels: none

Automated Code Change
  tensorflow_model_optimization/python/core/keras/testing/BUILD
Labels: none

Fallback to tf.keras when tf_keras not installed with Keras 3
  tensorflow_model_optimization/python/core/keras/compat.py
  tensorflow_model_optimization/python/core/keras/metrics_test.py
Labels: none

Automated Code Change
  tensorflow_model_optimization/python/core/quantization/keras/BUILD
Labels: technique:qat

Automated Code Change
  tensorflow_model_optimization/python/core/keras/testing/BUILD
Labels: none

Automated Code Change
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/research/BUILD
Labels: none

Internal change.
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/BUILD
Labels: technique:qat

Internal Change
  tensorflow_model_optimization/python/BUILD
  tensorflow_model_optimization/python/core/BUILD
  tensorflow_model_optimization/python/core/api/BUILD
  tensorflow_model_optimization/python/core/clustering/BUILD
  tensorflow_model_optimization/python/core/clustering/keras/BUILD
  tensorflow_model_optimization/python/core/clustering/keras/experimental/BUILD
  tensorflow_model_optimization/python/core/common/keras/compression/BUILD
  tensorflow_model_optimization/python/core/common/keras/compression/algorithms/BUILD
  tensorflow_model_optimization/python/core/common/keras/compression/internal/BUILD
  tensorflow_model_optimization/python/core/internal/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/core/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/encoders/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/research/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/testing/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/utils/BUILD
  tensorflow_model_optimization/python/core/keras/BUILD
  tensorflow_model_optimization/python/core/keras/testing/BUILD
  tensorflow_model_optimization/python/core/quantization/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/collab_opts/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/collab_opts/cluster_preserve/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/collab_opts/prune_preserve/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/experimental/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/experimental/default_n_bit/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/graph_transformations/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/layers/BUILD
  tensorflow_model_optimization/python/core/sparsity/BUILD
  tensorflow_model_optimization/python/core/sparsity/keras/BUILD
  tensorflow_model_optimization/python/core/sparsity/keras/tools/BUILD
  tensorflow_model_optimization/python/examples/cluster_preserve_qat/keras/BUILD
  tensorflow_model_optimization/python/examples/clustering/keras/imdb/BUILD
  tensorflow_model_optimization/python/examples/clustering/keras/mnist/BUILD
  tensorflow_model_optimization/python/examples/quantization/keras/BUILD
  tensorflow_model_optimization/python/examples/quantization_with_sparsity/keras/BUILD
  tensorflow_model_optimization/python/examples/sparsity/keras/imdb/BUILD
  tensorflow_model_optimization/python/examples/sparsity/keras/mnist/BUILD
Labels: technique:clustering, technique:pruning, technique:qat, comp:weight compression, api-review

Update release notes and version for TFMOT release 0.8.1.
  RELEASE.md
  pip_pkg.sh
  requirements.txt
  tensorflow_model_optimization/BUILD
  tensorflow_model_optimization/python/BUILD
  tensorflow_model_optimization/python/core/BUILD
  tensorflow_model_optimization/python/core/api/BUILD
  tensorflow_model_optimization/python/core/clustering/BUILD
  tensorflow_model_optimization/python/core/clustering/keras/BUILD
  tensorflow_model_optimization/python/core/clustering/keras/experimental/BUILD
  tensorflow_model_optimization/python/core/internal/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/core/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/encoders/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/research/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/testing/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/utils/BUILD
  tensorflow_model_optimization/python/core/keras/BUILD
  tensorflow_model_optimization/python/core/keras/testing/BUILD
  tensorflow_model_optimization/python/core/quantization/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/collab_opts/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/collab_opts/cluster_preserve/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/collab_opts/prune_preserve/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_transforms_test.py
  tensorflow_model_optimization/python/core/quantization/keras/experimental/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/experimental/default_n_bit/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/experimental/default_n_bit/default_n_bit_transforms_test.py
  tensorflow_model_optimization/python/core/quantization/keras/graph_transformations/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/layers/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/quantize_models_test.py
  tensorflow_model_optimization/python/core/sparsity/BUILD
  tensorflow_model_optimization/python/core/sparsity/keras/BUILD
  tensorflow_model_optimization/python/core/sparsity/keras/tools/BUILD
  tensorflow_model_optimization/python/core/version.py
  tensorflow_model_optimization/python/examples/clustering/keras/imdb/BUILD
Labels: technique:clustering, technique:pruning, technique:qat, api-review

Automated Code Change
  tensorflow_model_optimization/python/core/clustering/keras/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/core/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/encoders/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/research/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/testing/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/utils/BUILD
  tensorflow_model_optimization/python/core/keras/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/experimental/default_n_bit/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/graph_transformations/BUILD
  tensorflow_model_optimization/python/core/sparsity/keras/BUILD
Labels: technique:clustering, technique:pruning, technique:qat

Automated Code Change
  tensorflow_model_optimization/python/core/sparsity/keras/tools/BUILD
Labels: technique:pruning

The change ensures that the elements are packed back into the original structure in the correct order by using keys derived from the structure's flattened paths.
  tensorflow_model_optimization/python/core/internal/tensor_encoding/core/simple_encoder.py
  tensorflow_model_optimization/python/core/internal/tensor_encoding/core/simple_encoder_test.py
Labels: none
