Repository tensorflow/model-optimization, changes with the labels that .github/labeler.yml gives for each.
All labels: technique:clustering, technique:pruning, technique:qat, comp:weight compression, api-review

.github/labeler.yml:

# Copyright 2020 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

technique:clustering:
- tensorflow_model_optimization/python/core/clustering/**/*
- tensorflow_model_optimization/python/core/api/clustering/**/*
- tensorflow_model_optimization/python/examples/clustering/**/*
- tensorflow_model_optimization/g3doc/guide/clustering/**/*

technique:pruning:
- tensorflow_model_optimization/python/core/sparsity/**/*
- tensorflow_model_optimization/python/core/api/sparsity/**/*
- tensorflow_model_optimization/python/examples/sparsity/**/*
- tensorflow_model_optimization/g3doc/guide/pruning/**/*

technique:qat:
- tensorflow_model_optimization/python/core/quantization/**/*
- tensorflow_model_optimization/python/core/api/quantization/**/*
- tensorflow_model_optimization/python/examples/quantization/**/*
- tensorflow_model_optimization/g3doc/guide/quantization/**/*

comp:weight compression:
- tensorflow_model_optimization/python/core/common/keras/compression/**/*

# Note: this does not capture all PRs that need a API review.
api-review:
- tensorflow_model_optimization/python/core/api/**/*

Document how to manually run the CI scripts
  ci/kokoro/README.md
Labels: none

Add DRIVE tensor encoder
  tensorflow_model_optimization/python/core/internal/tensor_encoding/encoders/__init__.py
  tensorflow_model_optimization/python/core/internal/tensor_encoding/encoders/common_encoders.py
  tensorflow_model_optimization/python/core/internal/tensor_encoding/encoders/common_encoders_test.py
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/__init__.py
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/stages_impl.py
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/stages_impl_test.py
Labels: none

Add a smoke test that installs then tries to import TFMOT
  ci/kokoro/gcp_ubuntu/build.sh
  ci/kokoro/run_bazel_unittests.sh
  ci/kokoro/run_install_import_test.sh
Labels: none

Add python3-virtualenv as dependency for the CI scripts
  ci/kokoro/gcp_ubuntu/Dockerfile
Labels: none

Avoid copying the test logs when the Git repo dir and artifact dir are the same file.
  ci/kokoro/gcp_ubuntu/build.sh
Labels: none

Make the install/import smoke test handle consecutive runs.
  ci/kokoro/run_install_import_test.sh
Labels: none

Fix metric function to deliver information to api doc generator.
  tensorflow_model_optimization/python/core/keras/metrics.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize.py
Labels: technique:qat

Add compat_v1 batchnorm to PruneRegistry
  tensorflow_model_optimization/python/core/sparsity/keras/BUILD
  tensorflow_model_optimization/python/core/sparsity/keras/prune_registry.py
  tensorflow_model_optimization/python/core/sparsity/keras/prune_registry_test.py
Labels: technique:pruning

MLTOOLS-1738 CI for TFMOT is broken
  ci/jupyter/run_jupyter_notebook.sh
Labels: none

internal change
  tensorflow_model_optimization/python/examples/clustering/keras/mnist/mnist_cnn.py
Labels: technique:clustering

MLTOOLS-1734 Use existing virtual environment to run jupyter notebook tests
  ci/jupyter/README.md
  ci/jupyter/run_jupyter_notebook.sh
Labels: none

Changes the use of `dict` to `OrderedDict`.
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/research/clipping.py
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/research/kashin.py
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/research/misc.py
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/research/quantization.py
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/stages_impl.py
Labels: none

Support ops in PruneRegistry
  tensorflow_model_optimization/python/core/sparsity/keras/prune_registry.py
Labels: technique:pruning

Changes the use of `dict` to `OrderedDict` in gather_encoder.py and simple_encoder.py.
  tensorflow_model_optimization/python/core/internal/tensor_encoding/core/gather_encoder.py
  tensorflow_model_optimization/python/core/internal/tensor_encoding/core/simple_encoder.py
Labels: none

Internal experiment.
  tensorflow_model_optimization/python/core/internal/tensor_encoding/utils/py_utils.py
Labels: none

Changes the use of `dict` to `OrderedDict` in py_utils.py
  tensorflow_model_optimization/python/core/internal/tensor_encoding/utils/py_utils.py
Labels: none

MLTOOLS-1694 Fixes for clustering per channel + clustering per channel for CQAT + tests.
  tensorflow_model_optimization/python/core/clustering/keras/cluster_integration_test.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_algorithm.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry_test.py
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/cluster_preserve_integration_test.py
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/cluster_preserve_quantize_registry.py
Labels: technique:clustering, technique:qat

Support of clustering per channel in (P)CQAT.
  tensorflow_model_optimization/python/core/clustering/keras/cluster_integration_test.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_algorithm.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry_test.py
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/cluster_preserve_integration_test.py
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/cluster_preserve_quantize_registry.py
Labels: technique:clustering, technique:qat

Fit typo.
  tensorflow_model_optimization/g3doc/guide/pruning/pruning_with_sparsity_2_by_4.ipynb
Labels: technique:pruning

Fix errors on 2 by 4 sparsity tutorial page
  tensorflow_model_optimization/g3doc/guide/pruning/pruning_with_sparsity_2_by_4.ipynb
Labels: technique:pruning

Add experimental.SyncBatchNormalization to Prune Registry
  tensorflow_model_optimization/python/core/sparsity/keras/prune_registry.py
  tensorflow_model_optimization/python/core/sparsity/keras/prune_registry_test.py
Labels: technique:pruning

Support quantization of gelu activation
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_quantize_registry.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_aware_activation.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_aware_activation_test.py
Labels: technique:qat

Remove APIs / logic that is overdue for removal.
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry.py
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_quantize_registry.py
  tensorflow_model_optimization/python/core/sparsity/keras/prune_integration_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/prune_registry.py
  tensorflow_model_optimization/python/core/sparsity/keras/prune_registry_test.py
Labels: technique:clustering, technique:pruning, technique:qat

Internal change
  tensorflow_model_optimization/python/core/quantization/keras/quantize.py
Labels: technique:qat

Update release notes and version for TFMOT release 0.7.1.
  RELEASE.md
  tensorflow_model_optimization/python/core/version.py
Labels: none

Add `fix_input_output_range` method that fix the input and output range after apply quantize.
  tensorflow_model_optimization/python/core/api/quantization/keras/__init__.py
  tensorflow_model_optimization/python/core/api/quantization/keras/quantizers/__init__.py
  tensorflow_model_optimization/python/core/quantization/keras/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/quant_ops.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_config.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_test.py
  tensorflow_model_optimization/python/core/quantization/keras/quantizers.py
  tensorflow_model_optimization/python/core/quantization/keras/quantizers_test.py
Labels: technique:qat, api-review

Improve the compatibility for the `FixInputOutputRangeTest`.
  tensorflow_model_optimization/python/core/quantization/keras/quantize_test.py
Labels: technique:qat

Add DenseBatchNorm.* transforms to default_n_bit scheme
  tensorflow_model_optimization/python/core/quantization/keras/experimental/default_n_bit/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/experimental/default_n_bit/default_n_bit_quantize_layout_transform.py
  tensorflow_model_optimization/python/core/quantization/keras/experimental/default_n_bit/default_n_bit_transforms.py
  tensorflow_model_optimization/python/core/quantization/keras/experimental/default_n_bit/default_n_bit_transforms_test.py
Labels: technique:qat

Remove experimental.PeepholeLSTMCell from the API.
  tensorflow_model_optimization/python/core/clustering/keras/cluster_integration_test.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/prune_integration_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/prune_registry.py
  tensorflow_model_optimization/python/core/sparsity/keras/prune_registry_test.py
  tensorflow_model_optimization/python/examples/clustering/keras/imdb/imdb_multiple_cells.py
Labels: technique:clustering, technique:pruning

refactor with list comprehension
  tensorflow_model_optimization/python/core/quantization/keras/experimental/default_n_bit/default_n_bit_quantize_registry.py
Labels: technique:qat

Add quantize_output property to Default8BitActivationQuantizeConfig and Default8BitOutputQuantizeConfig to allow loading output quantize disabled wrapped layers from disk
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_quantize_configs.py
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_quantize_registry.py
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_quantize_registry_test.py
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_transforms.py
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_transforms_test.py
Labels: technique:qat

Typo Fix in Quantization Training Example
  tensorflow_model_optimization/g3doc/guide/quantization/training_example.ipynb
Labels: technique:qat

Adds EPR algorithm to TF-MOT.
  ci/kokoro/run_bazel_unittests.sh
  tensorflow_model_optimization/python/core/common/keras/compression/algorithms/BUILD
  tensorflow_model_optimization/python/core/common/keras/compression/algorithms/epr.py
  tensorflow_model_optimization/python/core/common/keras/compression/algorithms/epr_test.py
Labels: comp:weight compression

Fix missing indentation in html table
  tensorflow_model_optimization/g3doc/guide/clustering/index.md
Labels: technique:clustering

Basic implementation for ternarization
  tensorflow_model_optimization/python/core/quantization/keras/experimental/ternarization/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/experimental/ternarization/README.md
  tensorflow_model_optimization/python/core/quantization/keras/experimental/ternarization/__init__.py
  tensorflow_model_optimization/python/core/quantization/keras/experimental/ternarization/quantize_numerical_test.py
  tensorflow_model_optimization/python/core/quantization/keras/experimental/ternarization/ternarization_quantize_configs.py
  tensorflow_model_optimization/python/core/quantization/keras/experimental/ternarization/ternarization_quantize_layout_transform.py
  tensorflow_model_optimization/python/core/quantization/keras/experimental/ternarization/ternarization_quantize_registry.py
  tensorflow_model_optimization/python/core/quantization/keras/experimental/ternarization/ternarization_quantize_registry_test.py
  tensorflow_model_optimization/python/core/quantization/keras/experimental/ternarization/ternarization_quantize_scheme.py
  tensorflow_model_optimization/python/core/quantization/keras/experimental/ternarization/ternarization_quantizers.py
  tensorflow_model_optimization/python/core/quantization/keras/experimental/ternarization/ternarization_quantizers_test.py
  tensorflow_model_optimization/python/core/quantization/keras/experimental/ternarization/ternarization_transforms.py
  tensorflow_model_optimization/python/core/quantization/keras/experimental/ternarization/ternarization_transforms_test.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_wrapper.py
Labels: technique:qat

Make dependency on tensorflow-compression explicit.
  ci/kokoro/run_bazel_unittests.sh
  requirements.txt
Labels: none

Bump version to 0.7.2 for new release.
  tensorflow_model_optimization/python/core/version.py
Labels: none

Update release notes for version 0.7.2.
  RELEASE.md
Labels: none

Replace deprecated method add_variable() with add_weight().
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_wrapper.py
Labels: technique:pruning

MLTOOLS-1792 Added fix for clustering per channel with data_format = 'channels_first'.
  tensorflow_model_optimization/python/core/clustering/keras/cluster_wrapper.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_centroids.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_centroids_test.py
Labels: technique:clustering
