Repository tensorflow/model-optimization, changes with the labels that .github/labeler.yml gives for each.
All labels: technique:clustering, technique:pruning, technique:qat, comp:weight compression, api-review

Automated Code Change
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/research/BUILD
Labels: none

Automated Code Change
  tensorflow_model_optimization/python/core/sparsity/keras/tools/BUILD
Labels: technique:pruning

Automated Code Change
  tensorflow_model_optimization/python/core/keras/testing/BUILD
Labels: none

Automated Code Change
  tensorflow_model_optimization/python/core/quantization/keras/BUILD
Labels: technique:qat

Create python-package-conda.yml
  .github/workflows/python-package-conda.yml
Labels: none

Automated Code Change
  tensorflow_model_optimization/python/core/sparsity/keras/tools/BUILD
Labels: technique:pruning

Automated Code Change
  tensorflow_model_optimization/python/core/keras/testing/BUILD
Labels: none

Automated Code Change
  tensorflow_model_optimization/python/core/quantization/keras/BUILD
Labels: technique:qat

Automated Code Change
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/research/BUILD
Labels: none

Automated Code Change
  tensorflow_model_optimization/python/core/keras/testing/BUILD
Labels: none

Automated Code Change
  tensorflow_model_optimization/python/core/sparsity/keras/tools/BUILD
Labels: technique:pruning

Automated Code Change
  tensorflow_model_optimization/python/core/quantization/keras/BUILD
Labels: technique:qat

Automated Code Change
  tensorflow_model_optimization/python/core/keras/testing/BUILD
Labels: none

Automated Code Change
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/research/BUILD
Labels: none

Automated Code Change
  tensorflow_model_optimization/python/core/sparsity/keras/tools/BUILD
Labels: technique:pruning

Automated Code Change
  tensorflow_model_optimization/python/core/quantization/keras/BUILD
Labels: technique:qat

Automated Code Change
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/research/BUILD
Labels: none

Automated Code Change
  tensorflow_model_optimization/python/core/keras/testing/BUILD
Labels: none

Support numpy 2 in requirements.txt
  requirements.txt
Labels: none

Automated Code Change
  tensorflow_model_optimization/python/core/keras/testing/BUILD
Labels: none

Automated Code Change
  tensorflow_model_optimization/python/core/sparsity/keras/tools/BUILD
Labels: technique:pruning

Automated Code Change
  tensorflow_model_optimization/python/core/quantization/keras/BUILD
Labels: technique:qat

Automated Code Change
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/research/BUILD
Labels: none

Automated Code Change
  tensorflow_model_optimization/python/core/sparsity/keras/tools/BUILD
Labels: technique:pruning

Automated Code Change
  tensorflow_model_optimization/python/core/keras/testing/BUILD
Labels: none

Automated Code Change
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/research/BUILD
Labels: none

Automated Code Change
  tensorflow_model_optimization/python/core/sparsity/keras/tools/BUILD
Labels: technique:pruning

Automated Code Change
  tensorflow_model_optimization/python/core/keras/testing/BUILD
Labels: none

Upgrade GitHub Actions for Node 24 compatibility
  .github/workflows/labeler.yml
Labels: none

Automated Code Change
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/research/BUILD
Labels: none

Automated Code Change
  tensorflow_model_optimization/python/core/sparsity/keras/tools/BUILD
Labels: technique:pruning

Automated Code Change
  tensorflow_model_optimization/python/core/keras/testing/BUILD
Labels: none

Automated Code Change
  tensorflow_model_optimization/python/core/quantization/keras/BUILD
Labels: technique:qat

Automated Code Change
  tensorflow_model_optimization/python/core/sparsity/keras/tools/BUILD
Labels: technique:pruning

Automated Code Change
  tensorflow_model_optimization/python/core/keras/testing/BUILD
Labels: none

Automated Code Change
  tensorflow_model_optimization/python/core/sparsity/keras/tools/BUILD
Labels: technique:pruning

Automated Code Change
  tensorflow_model_optimization/python/core/quantization/keras/BUILD
Labels: technique:qat

Replace unicode escaped characters in ipynb files
  tensorflow_model_optimization/g3doc/guide/clustering/clustering_comprehensive_guide.ipynb
  tensorflow_model_optimization/g3doc/guide/clustering/clustering_example.ipynb
  tensorflow_model_optimization/g3doc/guide/combine/cqat_example.ipynb
  tensorflow_model_optimization/g3doc/guide/combine/pcqat_example.ipynb
  tensorflow_model_optimization/g3doc/guide/combine/pqat_example.ipynb
  tensorflow_model_optimization/g3doc/guide/combine/sparse_clustering_example.ipynb
  tensorflow_model_optimization/g3doc/guide/pruning/comprehensive_guide.ipynb
  tensorflow_model_optimization/g3doc/guide/pruning/pruning_for_on_device_inference.ipynb
  tensorflow_model_optimization/g3doc/guide/pruning/pruning_with_keras.ipynb
  tensorflow_model_optimization/g3doc/guide/pruning/pruning_with_sparsity_2_by_4.ipynb
  tensorflow_model_optimization/g3doc/guide/quantization/training_comprehensive_guide.ipynb
  tensorflow_model_optimization/g3doc/guide/quantization/training_example.ipynb
Labels: technique:clustering, technique:pruning, technique:qat

Automated Code Change
  tensorflow_model_optimization/BUILD
  tensorflow_model_optimization/python/BUILD
  tensorflow_model_optimization/python/core/BUILD
  tensorflow_model_optimization/python/core/api/BUILD
  tensorflow_model_optimization/python/core/clustering/BUILD
  tensorflow_model_optimization/python/core/clustering/keras/BUILD
  tensorflow_model_optimization/python/core/clustering/keras/experimental/BUILD
  tensorflow_model_optimization/python/core/internal/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/core/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/encoders/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/research/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/testing/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/utils/BUILD
  tensorflow_model_optimization/python/core/keras/BUILD
  tensorflow_model_optimization/python/core/keras/testing/BUILD
  tensorflow_model_optimization/python/core/quantization/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/collab_opts/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/collab_opts/cluster_preserve/BUILD
Labels: technique:clustering, technique:qat, api-review

Automated Code Change
  tensorflow_model_optimization/python/core/keras/testing/BUILD
Labels: none

.github/labeler.yml:

# Copyright 2020 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

technique:clustering:
- tensorflow_model_optimization/python/core/clustering/**/*
- tensorflow_model_optimization/python/core/api/clustering/**/*
- tensorflow_model_optimization/python/examples/clustering/**/*
- tensorflow_model_optimization/g3doc/guide/clustering/**/*

technique:pruning:
- tensorflow_model_optimization/python/core/sparsity/**/*
- tensorflow_model_optimization/python/core/api/sparsity/**/*
- tensorflow_model_optimization/python/examples/sparsity/**/*
- tensorflow_model_optimization/g3doc/guide/pruning/**/*

technique:qat:
- tensorflow_model_optimization/python/core/quantization/**/*
- tensorflow_model_optimization/python/core/api/quantization/**/*
- tensorflow_model_optimization/python/examples/quantization/**/*
- tensorflow_model_optimization/g3doc/guide/quantization/**/*

comp:weight compression:
- tensorflow_model_optimization/python/core/common/keras/compression/**/*

# Note: this does not capture all PRs that need a API review.
api-review:
- tensorflow_model_optimization/python/core/api/**/*
