Repository tensorflow/model-optimization, changes with the labels that .github/labeler.yml gives for each.
All labels: technique:clustering, technique:pruning, technique:qat, comp:weight compression, api-review

.github/labeler.yml:

# Copyright 2020 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

technique:clustering:
- tensorflow_model_optimization/python/core/clustering/**/*
- tensorflow_model_optimization/python/core/api/clustering/**/*
- tensorflow_model_optimization/python/examples/clustering/**/*
- tensorflow_model_optimization/g3doc/guide/clustering/**/*

technique:pruning:
- tensorflow_model_optimization/python/core/sparsity/**/*
- tensorflow_model_optimization/python/core/api/sparsity/**/*
- tensorflow_model_optimization/python/examples/sparsity/**/*
- tensorflow_model_optimization/g3doc/guide/pruning/**/*

technique:qat:
- tensorflow_model_optimization/python/core/quantization/**/*
- tensorflow_model_optimization/python/core/api/quantization/**/*
- tensorflow_model_optimization/python/examples/quantization/**/*
- tensorflow_model_optimization/g3doc/guide/quantization/**/*

comp:weight compression:
- tensorflow_model_optimization/python/core/common/keras/compression/**/*

# Note: this does not capture all PRs that need a API review.
api-review:
- tensorflow_model_optimization/python/core/api/**/*

OSS cleanup: improve copybara process to keep `strict` rules.
  tensorflow_model_optimization/python/core/common/keras/compression/BUILD
  tensorflow_model_optimization/python/core/common/keras/compression/algorithms/BUILD
  tensorflow_model_optimization/python/core/common/keras/compression/internal/BUILD
  tensorflow_model_optimization/python/core/internal/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/core/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/encoders/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/research/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/testing/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/utils/BUILD
  tensorflow_model_optimization/python/core/keras/BUILD
  tensorflow_model_optimization/python/core/sparsity/keras/BUILD
  tensorflow_model_optimization/tensorflow_model_optimization.bzl
Labels: technique:pruning, comp:weight compression

fix tensorflow_model_optimization.bzl
  tensorflow_model_optimization/tensorflow_model_optimization.bzl
Labels: none

internal code change
  tensorflow_model_optimization/python/core/api/BUILD
  tensorflow_model_optimization/python/core/keras/BUILD
  tensorflow_model_optimization/python/core/keras/testing/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/prune_preserve/BUILD
Labels: technique:qat, api-review

Explicitly pass training argument to the layer in QAT module.
  tensorflow_model_optimization/python/core/quantization/keras/quantize_annotate.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_annotate_test.py
Labels: technique:qat

Fix dependencies for core/quantization/keras
  tensorflow_model_optimization/python/core/quantization/keras/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/prune_preserve/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/graph_transformations/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/layers/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/layers/conv_batchnorm.py
Labels: technique:qat

[Clustering] Enable RNN layers [Clustering] Enable RNN layers
  tensorflow_model_optimization/python/core/clustering/keras/cluster.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_integration_test.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_wrapper.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry_test.py
  tensorflow_model_optimization/python/examples/clustering/keras/imdb/BUILD
  tensorflow_model_optimization/python/examples/clustering/keras/imdb/imdb_gru.py
  tensorflow_model_optimization/python/examples/clustering/keras/imdb/imdb_lstm.py
  tensorflow_model_optimization/python/examples/clustering/keras/imdb/imdb_rnn.py
Labels: technique:clustering

internal code change
  tensorflow_model_optimization/BUILD
  tensorflow_model_optimization/__init__.py
  tensorflow_model_optimization/python/BUILD
  tensorflow_model_optimization/python/core/BUILD
  tensorflow_model_optimization/python/core/api/BUILD
  tensorflow_model_optimization/python/core/clustering/BUILD
  tensorflow_model_optimization/python/core/clustering/keras/BUILD
  tensorflow_model_optimization/python/core/clustering/keras/cluster.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_distributed_test.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_integration_test.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_test.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_wrapper.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_algorithm.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_callbacks.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry_test.py
  tensorflow_model_optimization/python/core/clustering/keras/experimental/BUILD
  tensorflow_model_optimization/python/core/clustering/keras/mnist_clusterable_layer_test.py
  tensorflow_model_optimization/python/core/clustering/keras/mnist_clustering_test.py
  tensorflow_model_optimization/python/core/common/keras/compression/BUILD
  tensorflow_model_optimization/python/core/common/keras/compression/algorithms/BUILD
  tensorflow_model_optimization/python/core/common/keras/compression/internal/BUILD
  tensorflow_model_optimization/python/core/keras/BUILD
  tensorflow_model_optimization/python/core/keras/testing/BUILD
  tensorflow_model_optimization/python/core/quantization/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/cluster_preserve_quantize_registry.py
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/prune_preserve/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_transforms.py
  tensorflow_model_optimization/python/core/sparsity/BUILD
  tensorflow_model_optimization/python/core/sparsity/keras/BUILD
  tensorflow_model_optimization/python/core/sparsity/keras/estimator_utils.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_impl.py
Labels: technique:clustering, technique:pruning, technique:qat, comp:weight compression, api-review

Fix dependencies for __init__.py files related to python module imports and quantization/keras/collaborative_optimizations
  tensorflow_model_optimization/BUILD
  tensorflow_model_optimization/__init__.py
  tensorflow_model_optimization/python/BUILD
  tensorflow_model_optimization/python/core/BUILD
  tensorflow_model_optimization/python/core/api/BUILD
  tensorflow_model_optimization/python/core/keras/BUILD
  tensorflow_model_optimization/python/core/keras/testing/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/prune_preserve/BUILD
Labels: technique:qat, api-review

Fix dependencies for core/clustering, core/common, and core/sparsity
  tensorflow_model_optimization/python/core/clustering/BUILD
  tensorflow_model_optimization/python/core/clustering/keras/BUILD
  tensorflow_model_optimization/python/core/clustering/keras/experimental/BUILD
  tensorflow_model_optimization/python/core/common/keras/compression/BUILD
  tensorflow_model_optimization/python/core/common/keras/compression/algorithms/BUILD
  tensorflow_model_optimization/python/core/common/keras/compression/internal/BUILD
  tensorflow_model_optimization/python/core/sparsity/BUILD
  tensorflow_model_optimization/python/core/sparsity/keras/BUILD
Labels: technique:clustering, technique:pruning, comp:weight compression

Fix dependencies for python/, core/quantization/
  tensorflow_model_optimization/python/core/quantization/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/prune_preserve/BUILD
Labels: technique:qat

Fix test dependencies and move some py_test to py_strict_test when possible
  tensorflow_model_optimization/python/core/clustering/keras/BUILD
  tensorflow_model_optimization/python/core/clustering/keras/clustering_centroids_test.py
  tensorflow_model_optimization/python/core/quantization/keras/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/prune_preserve/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/quantize_annotate_test.py
Labels: technique:clustering, technique:qat

Consolidate load statements for strict rules
  tensorflow_model_optimization/python/core/clustering/keras/BUILD
  tensorflow_model_optimization/python/core/common/keras/compression/BUILD
  tensorflow_model_optimization/python/core/common/keras/compression/algorithms/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/core/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/encoders/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/research/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/testing/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/utils/BUILD
  tensorflow_model_optimization/python/core/keras/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/graph_transformations/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/layers/BUILD
  tensorflow_model_optimization/python/core/sparsity/keras/BUILD
Labels: technique:clustering, technique:pruning, technique:qat, comp:weight compression

Change py_binary targets to py_strict_binary
  tensorflow_model_optimization/BUILD
  tensorflow_model_optimization/python/examples/cluster_preserve_qat/keras/BUILD
  tensorflow_model_optimization/python/examples/clustering/keras/mnist/BUILD
  tensorflow_model_optimization/python/examples/quantization/keras/BUILD
  tensorflow_model_optimization/python/examples/quantization_with_sparsity/keras/BUILD
  tensorflow_model_optimization/python/examples/sparsity/keras/imdb/BUILD
  tensorflow_model_optimization/python/examples/sparsity/keras/imdb/imdb_lstm.py
  tensorflow_model_optimization/python/examples/sparsity/keras/mnist/BUILD
Labels: technique:clustering, technique:pruning, technique:qat

Fix formatting for clustering codes
  tensorflow_model_optimization/python/core/clustering/keras/cluster.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_distributed_test.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_integration_test.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_test.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_wrapper.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_algorithm.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_callbacks.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry_test.py
  tensorflow_model_optimization/python/core/clustering/keras/mnist_clusterable_layer_test.py
  tensorflow_model_optimization/python/core/clustering/keras/mnist_clustering_test.py
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/cluster_preserve_quantize_registry.py
Labels: technique:clustering, technique:qat

Reuse test_utils in compression tests.
  tensorflow_model_optimization/python/core/common/keras/compression/algorithms/BUILD
  tensorflow_model_optimization/python/core/common/keras/compression/algorithms/bias_only_test.py
  tensorflow_model_optimization/python/core/common/keras/compression/algorithms/different_training_and_inference_test.py
  tensorflow_model_optimization/python/core/common/keras/compression/algorithms/periodical_update_and_scheduling_test.py
  tensorflow_model_optimization/python/core/common/keras/compression/algorithms/same_training_and_inference_test.py
  tensorflow_model_optimization/python/core/keras/testing/test_utils_mnist.py
Labels: comp:weight compression

MLTOOLS-1225 Implement PCQAT and do unit testing
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/cluster_preserve_integration_test.py
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/cluster_preserve_quantize_registry.py
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/cluster_preserve_quantize_registry_test.py
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/cluster_utils.py
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/default_8bit_cluster_preserve_quantize_scheme.py
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/mnist_prune_cluster_preserve_qat_test.py
Labels: technique:qat

Use tf.keras instead of importing keras directly
  tensorflow_model_optimization/python/core/clustering/keras/BUILD
  tensorflow_model_optimization/python/core/clustering/keras/cluster.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_wrapper.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_callbacks.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry.py
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/cluster_preserve_quantize_registry.py
Labels: technique:clustering, technique:qat

Use TF API instead of directly importing internal members when possible
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_transforms.py
  tensorflow_model_optimization/python/core/sparsity/keras/BUILD
  tensorflow_model_optimization/python/core/sparsity/keras/estimator_utils.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_impl.py
Labels: technique:pruning, technique:qat

MLTOOLS-1375 nan in original_weights in clustering API
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/cluster_preserve_integration_test.py
Labels: technique:qat

Relax tolerance for padding_same_dilation_2 to remove flakiness.
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_transforms_test.py
Labels: technique:qat

Create semantic layered directories for normalization layers
  tensorflow_model_optimization/python/core/quantization/keras/layers/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/layers/conv_batchnorm.py
Labels: technique:qat

[Collaborative optimization] Pruning-Clustering-preserving Quantization Aware Training (PCQAT)
  tensorflow_model_optimization/python/core/clustering/keras/cluster_wrapper.py
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/cluster_preserve_integration_test.py
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/cluster_preserve_quantize_registry.py
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/cluster_preserve_quantize_registry_test.py
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/cluster_utils.py
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/default_8bit_cluster_preserve_quantize_scheme.py
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/mnist_prune_cluster_preserve_qat_test.py
Labels: technique:clustering, technique:qat

[*.py] Rename "Arguments:" to "Args:"
  tensorflow_model_optimization/python/core/clustering/keras/cluster.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_callbacks.py
  tensorflow_model_optimization/python/core/clustering/keras/experimental/cluster.py
  tensorflow_model_optimization/python/core/keras/compat.py
  tensorflow_model_optimization/python/core/keras/utils.py
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/cluster_utils.py
  tensorflow_model_optimization/python/core/sparsity/keras/prune.py
  tensorflow_model_optimization/python/core/sparsity/keras/test_utils.py
Labels: technique:clustering, technique:pruning, technique:qat

Add API and command line tool to prune Keras models, without retraining.
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_callbacks.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_wrapper.py
  tensorflow_model_optimization/python/core/sparsity/keras/tools/BUILD
  tensorflow_model_optimization/python/core/sparsity/keras/tools/__init__.py
  tensorflow_model_optimization/python/core/sparsity/keras/tools/evaluate_pruning.py
  tensorflow_model_optimization/python/core/sparsity/keras/tools/sparsity_tooling.py
  tensorflow_model_optimization/python/core/sparsity/keras/tools/sparsity_tooling_test.py
Labels: technique:pruning

Fix for sparsity-preserving clustering
  tensorflow_model_optimization/python/core/clustering/keras/BUILD
  tensorflow_model_optimization/python/core/clustering/keras/cluster_distributed_test.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_wrapper.py
Labels: technique:clustering

MLTOOLS-1431 [Clustering] MVP - Tie Zero feature
  tensorflow_model_optimization/python/core/clustering/keras/BUILD
  tensorflow_model_optimization/python/core/clustering/keras/cluster_wrapper.py
  tensorflow_model_optimization/python/core/clustering/keras/mnist_clustering_tie_zero_test.py
Labels: technique:clustering

MLTOOLS-950 Updating accuracy results in clustering overview document
  tensorflow_model_optimization/g3doc/guide/clustering/index.md
Labels: technique:clustering

Update clustering results table for Mobilenet-V1, Mobilenet-V2 and DS-CNN-L
  tensorflow_model_optimization/g3doc/guide/clustering/index.md
Labels: technique:clustering

Fix for sparsity-preserving clustering
  tensorflow_model_optimization/python/core/clustering/keras/cluster_integration_test.py
Labels: technique:clustering

Small correction after merging with master.
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry.py
Labels: technique:clustering

Introduce pruning policy instance to control what (what layers) should be pruned in the model
  tensorflow_model_optimization/python/core/sparsity/keras/BUILD
  tensorflow_model_optimization/python/core/sparsity/keras/prune.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_policy.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_policy_test.py
Labels: technique:pruning

[Clustering] Enable RNN layers [Clustering] Enable RNN layers
  tensorflow_model_optimization/python/core/clustering/keras/cluster.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_integration_test.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_wrapper.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry_test.py
  tensorflow_model_optimization/python/examples/clustering/keras/imdb/BUILD
  tensorflow_model_optimization/python/examples/clustering/keras/imdb/imdb_gru.py
  tensorflow_model_optimization/python/examples/clustering/keras/imdb/imdb_lstm.py
  tensorflow_model_optimization/python/examples/clustering/keras/imdb/imdb_rnn.py
Labels: technique:clustering

Use tf.compat.v1.layers API instead of direct import
  tensorflow_model_optimization/python/core/quantization/keras/layers/conv_batchnorm.py
Labels: technique:qat

Enable the PruningPolicy API
  tensorflow_model_optimization/python/core/api/BUILD
  tensorflow_model_optimization/python/core/api/sparsity/keras/__init__.py
  tensorflow_model_optimization/python/core/sparsity/keras/BUILD
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_policy.py
Labels: technique:pruning, api-review

Make the `PruneForLatencyOnXNNPack` prune policy more robust
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_policy.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_policy_test.py
Labels: technique:pruning

Revert "MLTOOLS-1431 [Clustering] MVP - Tie Zero feature"
  tensorflow_model_optimization/python/core/clustering/keras/BUILD
  tensorflow_model_optimization/python/core/clustering/keras/cluster_wrapper.py
  tensorflow_model_optimization/python/core/clustering/keras/mnist_clustering_tie_zero_test.py
Labels: technique:clustering

MLTOOLS-1218 Write and publish PQAT e2e example
  tensorflow_model_optimization/g3doc/guide/experimental/combine/pqat_example.ipynb
Labels: none

Add Dropout layer to supported for sparse inference in XNNPACK
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_policy.py
Labels: technique:pruning

Fix typo in pruning guide
  tensorflow_model_optimization/g3doc/guide/pruning/pruning_with_keras.ipynb
Labels: technique:pruning

MLTOOLS-1452 Updated release notes.
  RELEASE.md
Labels: none
