Repository tensorflow/model-optimization, changes with the labels that .github/labeler.yml gives for each.
All labels: technique:clustering, technique:pruning, technique:qat, comp:weight compression, api-review

.github/labeler.yml:

# Copyright 2020 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

technique:clustering:
- tensorflow_model_optimization/python/core/clustering/**/*
- tensorflow_model_optimization/python/core/api/clustering/**/*
- tensorflow_model_optimization/python/examples/clustering/**/*
- tensorflow_model_optimization/g3doc/guide/clustering/**/*

technique:pruning:
- tensorflow_model_optimization/python/core/sparsity/**/*
- tensorflow_model_optimization/python/core/api/sparsity/**/*
- tensorflow_model_optimization/python/examples/sparsity/**/*
- tensorflow_model_optimization/g3doc/guide/pruning/**/*

technique:qat:
- tensorflow_model_optimization/python/core/quantization/**/*
- tensorflow_model_optimization/python/core/api/quantization/**/*
- tensorflow_model_optimization/python/examples/quantization/**/*
- tensorflow_model_optimization/g3doc/guide/quantization/**/*

comp:weight compression:
- tensorflow_model_optimization/python/core/common/keras/compression/**/*

# Note: this does not capture all PRs that need a API review.
api-review:
- tensorflow_model_optimization/python/core/api/**/*

Updated release notes.
  RELEASE.md
Labels: none

MLTOOLS-1217 Write and publish CQAT e2e example
  tensorflow_model_optimization/g3doc/guide/experimental/combine/cqat_example.ipynb
Labels: none

Introduce the the notebook of using prune policy for latency improvements
  tensorflow_model_optimization/g3doc/_book.yaml
  tensorflow_model_optimization/g3doc/guide/pruning/index.md
  tensorflow_model_optimization/g3doc/guide/pruning/pruning_for_on_device_inference.ipynb
Labels: technique:pruning

Fix typo in TF MOT docs
  tensorflow_model_optimization/g3doc/_book.yaml
  tensorflow_model_optimization/g3doc/guide/pruning/index.md
Labels: technique:pruning

Minor `PruneForLatencyOnXNNPack` pruning policy improvement
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_policy.py
Labels: technique:pruning

Add BUILD file for keras/initializers package.
  tensorflow_model_optimization/python/core/quantization/keras/layers/BUILD
Labels: technique:qat

Typo fix.
  RELEASE.md
Labels: none

MLTOOLS-1423 Upstream fix for sparsity aware clustering - drifting centroids
  tensorflow_model_optimization/python/core/clustering/keras/BUILD
  tensorflow_model_optimization/python/core/clustering/keras/cluster_integration_test.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_wrapper.py
  tensorflow_model_optimization/python/core/clustering/keras/mnist_clustering_test.py
Labels: technique:clustering

MLTOOLS-1423 Upstream fix for sparsity aware clustering - drifting centroids
  tensorflow_model_optimization/python/core/clustering/keras/cluster_wrapper.py
Labels: technique:clustering

[PQAT] add prune preserve callback.
  tensorflow_model_optimization/python/core/api/BUILD
  tensorflow_model_optimization/python/core/api/experimental/combine/__init__.py
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/prune_preserve/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/prune_preserve/prune_preserve_callbacks.py
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/prune_preserve/prune_preserve_quantize_registry.py
  tensorflow_model_optimization/python/examples/quantization_with_sparsity/keras/BUILD
  tensorflow_model_optimization/python/examples/quantization_with_sparsity/keras/mnist_cnn.py
Labels: technique:qat, api-review

[PQAT] apply sparsity mask on weights gradient
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/prune_preserve/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/prune_preserve/prune_preserve_quantize_registry.py
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/prune_preserve/prune_preserve_utils.py
Labels: technique:qat

Fix the pruning policy to handle models after cloning
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_policy.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_policy_test.py
Labels: technique:pruning

changed strategy to enforce static mask in response to review comments, extended mnist test for additional checks
  tensorflow_model_optimization/python/core/clustering/keras/BUILD
  tensorflow_model_optimization/python/core/clustering/keras/cluster_integration_test.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_wrapper.py
  tensorflow_model_optimization/python/core/clustering/keras/mnist_clustering_test.py
Labels: technique:clustering

tiny stylistic fix
  tensorflow_model_optimization/python/core/clustering/keras/cluster_wrapper.py
Labels: technique:clustering

MLTOOLS-1216 Write and publish sparsity-preserving clustering e2e example
  tensorflow_model_optimization/g3doc/guide/experimental/combine/sparse_clustering_example.ipynb
Labels: none

Add basic TF ops to the supported list of `PruneForLatencyOnXNNPack` policy
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_policy.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_policy_test.py
Labels: technique:pruning

Convert tf_model_optimization code to use public tf and Keras API.
  tensorflow_model_optimization/python/core/quantization/keras/layers/conv_batchnorm.py
Labels: technique:qat

MLTOOLS-1252 minor fix
  tensorflow_model_optimization/python/examples/quantization/keras/mnist_cnn.py
Labels: technique:qat

Minor fix: use compat.v1 to access get_default_graph()
  tensorflow_model_optimization/python/examples/quantization/keras/mnist_cnn.py
Labels: technique:qat

Add tanh as supported activation in QAT
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_quantize_registry.py
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_quantize_registry_test.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_aware_activation.py
Labels: technique:qat

Supports **kwargs for QuantizeWrapper.call method.
  tensorflow_model_optimization/python/core/quantization/keras/graph_transformations/model_transformer.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_wrapper.py
Labels: technique:qat

Supports custom quantizeWrapper instead of quantize annotation.
  tensorflow_model_optimization/python/core/quantization/keras/quantize.py
Labels: technique:qat

[Collaborative optimization] Pruning-Clustering-preserving Quantization Aware Training (PCQAT)
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/cluster_preserve_integration_test.py
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/cluster_preserve_quantize_registry.py
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/cluster_preserve_quantize_registry_test.py
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/cluster_utils.py
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/default_8bit_cluster_preserve_quantize_scheme.py
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/mnist_prune_cluster_preserve_qat_test.py
Labels: technique:qat

MLTOOLS-1443 Sparsity 2x4 implementation + tests + mnist end2end example.
  tensorflow_model_optimization/python/core/sparsity/keras/prune_integration_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_impl.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_impl_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_utils.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_utils_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_wrapper.py
  tensorflow_model_optimization/python/examples/sparsity/keras/mnist/mnist_e2e_sparsity2x4.py
Labels: technique:pruning

Collaborative optimization overview document
  tensorflow_model_optimization/g3doc/guide/experimental/combine/collaborative_optimization.md
  tensorflow_model_optimization/g3doc/guide/experimental/combine/images/collaborative_optimization.png
  tensorflow_model_optimization/g3doc/guide/experimental/combine/images/collaborative_optimization_dist.png
  tensorflow_model_optimization/g3doc/guide/index.md
  tensorflow_model_optimization/g3doc/guide/optimize_further.md
Labels: none

Write and publish PQAT e2e example
  tensorflow_model_optimization/g3doc/guide/experimental/combine/pqat_example.ipynb
Labels: none

Write and publish sparsity-preserving clustering e2e example
  tensorflow_model_optimization/g3doc/guide/experimental/combine/sparse_clustering_example.ipynb
Labels: none

Write and publish CQAT e2e example
  tensorflow_model_optimization/g3doc/guide/experimental/combine/cqat_example.ipynb
Labels: none

Clarify that currently 8-bit quantization is the only supported deployment path.
  tensorflow_model_optimization/g3doc/guide/quantization/training.md
  tensorflow_model_optimization/g3doc/guide/quantization/training_comprehensive_guide.ipynb
Labels: technique:qat

MLTOOLS-1454 First clean up: remove duplicated test ClusterRNNIntegrationTest
  tensorflow_model_optimization/python/core/clustering/keras/cluster_integration_test.py
Labels: technique:clustering

Fix typo.
  tensorflow_model_optimization/python/core/sparsity/keras/tools/evaluate_pruning.py
Labels: technique:pruning

MLTOOLS-1444 Testing utils for sparsity 2x4.
  tensorflow_model_optimization/python/core/sparsity/keras/prune_integration_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_impl.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_utils.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_utils_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/test_utils.py
  tensorflow_model_optimization/python/core/sparsity/keras/tools/check_sparsity_2x4.py
  tensorflow_model_optimization/python/examples/sparsity/keras/mnist/mnist_e2e_sparsity2x4.py
Labels: technique:pruning

MLTOOLS-1454 Enable StackedRNN layer
  tensorflow_model_optimization/python/core/clustering/keras/cluster_integration_test.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_wrapper.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry_test.py
  tensorflow_model_optimization/python/examples/clustering/keras/imdb/BUILD
  tensorflow_model_optimization/python/examples/clustering/keras/imdb/imdb_stacked_rnn.py
Labels: technique:clustering

Removed potentially accumulated errors from testSeparableConvQuantize_
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_transforms_test.py
Labels: technique:qat

Fix test for tensorflow==2.5.0
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_policy_test.py
Labels: technique:pruning

Update release notes for 0.6.0.
  RELEASE.md
  tensorflow_model_optimization/python/core/version.py
Labels: none

Add support for Pruning callback function in Model garden trainer
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_callbacks.py
Labels: technique:pruning

Draft implementation of structured pruning 2x4.
  tensorflow_model_optimization/python/core/sparsity/keras/prune_integration_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_impl.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_impl_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_utils.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_utils_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_wrapper.py
  tensorflow_model_optimization/python/core/sparsity/keras/test_utils.py
  tensorflow_model_optimization/python/core/sparsity/keras/tools/check_sparsity_2x4.py
  tensorflow_model_optimization/python/examples/sparsity/keras/mnist/mnist_e2e_sparsity2x4.py
Labels: technique:pruning

remove tensorflow uninstall and tf-nightly
  tensorflow_model_optimization/g3doc/guide/quantization/training_example.ipynb
Labels: technique:qat

Remove @staticmethod
  tensorflow_model_optimization/python/core/clustering/keras/cluster_integration_test.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_test.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_wrapper.py
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/cluster_preserve_integration_test.py
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_transforms_test.py
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/quantize_numerical_test.py
  tensorflow_model_optimization/python/core/quantization/keras/graph_transformations/model_transformer.py
  tensorflow_model_optimization/python/core/quantization/keras/graph_transformations/model_transformer_test.py
  tensorflow_model_optimization/python/core/quantization/keras/layers/conv_batchnorm.py
  tensorflow_model_optimization/python/core/quantization/keras/layers/conv_batchnorm_test.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_aware_activation.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_integration_test.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_models_test.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_wrapper.py
  tensorflow_model_optimization/python/core/sparsity/keras/prune_integration_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/prune_registry.py
  tensorflow_model_optimization/python/core/sparsity/keras/prune_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_policy_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_schedule.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_schedule_test.py
Labels: technique:clustering, technique:pruning, technique:qat
