Repository tensorflow/model-optimization, changes with the labels that .github/labeler.yml gives for each.
All labels: technique:clustering, technique:pruning, technique:qat, comp:weight compression, api-review

Automated Code Change
  tensorflow_model_optimization/python/core/keras/testing/BUILD
Labels: none

The change ensures that the elements are packed back into the original structure in the correct order by using keys derived from the structure's flattened paths.
  tensorflow_model_optimization/python/core/internal/tensor_encoding/core/simple_encoder.py
  tensorflow_model_optimization/python/core/internal/tensor_encoding/core/simple_encoder_test.py
Labels: none

Fix `RandomCentroidsInitialisation` to safely handle cases where zero clusters are requested for a weight interval.
  tensorflow_model_optimization/python/core/clustering/keras/clustering_centroids.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_centroids_test.py
Labels: technique:clustering

Internal change
  tensorflow_model_optimization/BUILD
  tensorflow_model_optimization/python/examples/cluster_preserve_qat/keras/BUILD
  tensorflow_model_optimization/python/examples/clustering/keras/mnist/BUILD
  tensorflow_model_optimization/python/examples/quantization/keras/BUILD
  tensorflow_model_optimization/python/examples/quantization_with_sparsity/keras/BUILD
  tensorflow_model_optimization/python/examples/sparsity/keras/imdb/BUILD
  tensorflow_model_optimization/python/examples/sparsity/keras/mnist/BUILD
Labels: technique:clustering, technique:pruning, technique:qat

Automated Code Change
  tensorflow_model_optimization/python/core/sparsity/keras/tools/BUILD
Labels: technique:pruning

Automated Code Change
  tensorflow_model_optimization/python/core/sparsity/keras/tools/BUILD
Labels: technique:pruning

Automated Code Change
  tensorflow_model_optimization/python/core/sparsity/keras/tools/BUILD
Labels: technique:pruning

Fix an issue where multiple instances of DefaultNBitQuantizeRegistry could interfere with each other's configuration.
  tensorflow_model_optimization/python/core/quantization/keras/experimental/default_n_bit/default_n_bit_quantize_registry.py
Labels: technique:qat

Automated Code Change
  tensorflow_model_optimization/python/core/sparsity/keras/tools/BUILD
Labels: technique:pruning

Automated Code Change
  tensorflow_model_optimization/python/core/sparsity/keras/tools/BUILD
Labels: technique:pruning

Automated Code Change
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/research/BUILD
Labels: none

Automated Code Change
  tensorflow_model_optimization/python/core/quantization/keras/BUILD
Labels: technique:qat

Add Pyrefly suppressions
  tensorflow_model_optimization/python/core/common/keras/compression/algorithms/epr_test.py
  tensorflow_model_optimization/python/core/common/keras/compression/internal/optimize.py
  tensorflow_model_optimization/python/core/common/keras/compression/schedules.py
Labels: comp:weight compression

fix(quantize_registry): compare activation_attrs against other, not self
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_quantize_registry.py
  tensorflow_model_optimization/python/core/quantization/keras/experimental/default_n_bit/default_n_bit_quantize_registry.py
Labels: technique:qat

Automated Code Change
  tensorflow_model_optimization/python/core/sparsity/keras/tools/BUILD
Labels: technique:pruning

.github/labeler.yml:

# Copyright 2020 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

technique:clustering:
- tensorflow_model_optimization/python/core/clustering/**/*
- tensorflow_model_optimization/python/core/api/clustering/**/*
- tensorflow_model_optimization/python/examples/clustering/**/*
- tensorflow_model_optimization/g3doc/guide/clustering/**/*

technique:pruning:
- tensorflow_model_optimization/python/core/sparsity/**/*
- tensorflow_model_optimization/python/core/api/sparsity/**/*
- tensorflow_model_optimization/python/examples/sparsity/**/*
- tensorflow_model_optimization/g3doc/guide/pruning/**/*

technique:qat:
- tensorflow_model_optimization/python/core/quantization/**/*
- tensorflow_model_optimization/python/core/api/quantization/**/*
- tensorflow_model_optimization/python/examples/quantization/**/*
- tensorflow_model_optimization/g3doc/guide/quantization/**/*

comp:weight compression:
- tensorflow_model_optimization/python/core/common/keras/compression/**/*

# Note: this does not capture all PRs that need a API review.
api-review:
- tensorflow_model_optimization/python/core/api/**/*
