Repository tensorflow/model-optimization, changes with the labels that .github/labeler.yml gives for each.
All labels: technique:clustering, technique:pruning, technique:qat, comp:weight compression, api-review

Disable the reversible_check for g3folder_to_gitfolder workflow of model-optimization repo, since we are not receiving contributions from github.
  tensorflow_model_optimization/python/core/common/keras/compression/BUILD
  tensorflow_model_optimization/python/core/common/keras/compression/algorithms/BUILD
Labels: comp:weight compression

Add required packages to setup.py to match requirements.txt
  setup.py
Labels: none

re-enable g3folder_to_gitfolder
  tensorflow_model_optimization/python/core/common/keras/compression/BUILD
  tensorflow_model_optimization/python/core/common/keras/compression/algorithms/BUILD
  tensorflow_model_optimization/tensorflow_model_optimization.bzl
Labels: comp:weight compression

Add `--test_output=errors` for kokoro tests of `tensorflow_model_optimization` for better debuggability.
  ci/kokoro/run_bazel_unittests.sh
Labels: none

Permit tensorflow_model_optimization to use absl-py 2
  requirements.txt
Labels: none

Fix `dtype` and `assign*` in `AutocastVariable`.
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_wrapper.py
Labels: technique:pruning

Fix `dtype` and `assign*` in `AutocastVariable`.
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_wrapper.py
Labels: technique:pruning

Call `super().build(input_shape)` instead of `self.built = True` in all Keras layers.
  tensorflow_model_optimization/python/core/clustering/keras/cluster_test.py
  tensorflow_model_optimization/python/core/common/keras/compression/internal/optimize.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_wrapper_test.py
Labels: technique:clustering, technique:pruning, comp:weight compression

Automated Code Change
  tensorflow_model_optimization/BUILD
Labels: none

Automated Code Change
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_callbacks.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_impl_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_utils.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_utils_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_wrapper.py
Labels: technique:pruning

Automated Code Change
  tensorflow_model_optimization/python/core/sparsity/keras/BUILD
Labels: technique:pruning

Internal change.
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_callbacks.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_impl_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_utils.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_utils_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_wrapper.py
Labels: technique:pruning

Fixed typo
  tensorflow_model_optimization/g3doc/guide/index.md
Labels: none

Internal change.
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/BUILD
Labels: technique:qat

cleanup of deprecated test methods
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/research/kashin_test.py
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/research/misc_test.py
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/research/quantization_test.py
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/stages_impl_test.py
  tensorflow_model_optimization/python/core/internal/tensor_encoding/utils/tf_utils_test.py
Labels: none

Remove `srcs_version` and `python_version` attributes, as they already default to `"PY3"`
  tensorflow_model_optimization/BUILD
  tensorflow_model_optimization/python/BUILD
  tensorflow_model_optimization/python/core/BUILD
  tensorflow_model_optimization/python/core/api/BUILD
  tensorflow_model_optimization/python/core/clustering/BUILD
  tensorflow_model_optimization/python/core/clustering/keras/BUILD
  tensorflow_model_optimization/python/core/clustering/keras/experimental/BUILD
  tensorflow_model_optimization/python/core/common/keras/compression/BUILD
  tensorflow_model_optimization/python/core/common/keras/compression/algorithms/BUILD
  tensorflow_model_optimization/python/core/common/keras/compression/internal/BUILD
  tensorflow_model_optimization/python/core/internal/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/core/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/encoders/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/research/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/testing/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/utils/BUILD
  tensorflow_model_optimization/python/core/keras/BUILD
  tensorflow_model_optimization/python/core/keras/testing/BUILD
  tensorflow_model_optimization/python/core/quantization/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/collab_opts/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/collab_opts/cluster_preserve/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/collab_opts/prune_preserve/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/experimental/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/experimental/default_n_bit/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/graph_transformations/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/layers/BUILD
  tensorflow_model_optimization/python/core/sparsity/BUILD
  tensorflow_model_optimization/python/core/sparsity/keras/BUILD
  tensorflow_model_optimization/python/core/sparsity/keras/tools/BUILD
  tensorflow_model_optimization/python/examples/cluster_preserve_qat/keras/BUILD
  tensorflow_model_optimization/python/examples/clustering/keras/imdb/BUILD
  tensorflow_model_optimization/python/examples/clustering/keras/mnist/BUILD
  tensorflow_model_optimization/python/examples/quantization/keras/BUILD
  tensorflow_model_optimization/python/examples/quantization_with_sparsity/keras/BUILD
  tensorflow_model_optimization/python/examples/sparsity/keras/imdb/BUILD
Labels: technique:clustering, technique:pruning, technique:qat, comp:weight compression, api-review

Remove `srcs_version` and `python_version` attributes, as they already default to `"PY3"`
  tensorflow_model_optimization/python/examples/sparsity/keras/mnist/BUILD
Labels: technique:pruning

Mark compatibility with numpy v2
  setup.py
Labels: none

Automated Code Change
  tensorflow_model_optimization/python/core/keras/testing/BUILD
Labels: none

Automated Code Change
  tensorflow_model_optimization/python/core/sparsity/keras/tools/BUILD
Labels: technique:pruning

Automated Code Change
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/research/BUILD
Labels: none

Automated Code Change
  tensorflow_model_optimization/python/core/quantization/keras/BUILD
Labels: technique:qat

Automated Code Change
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/research/BUILD
Labels: none

Automated Code Change
  tensorflow_model_optimization/python/core/keras/testing/BUILD
Labels: none

Automated Code Change
  tensorflow_model_optimization/python/core/sparsity/keras/tools/BUILD
Labels: technique:pruning

Automated Code Change
  tensorflow_model_optimization/python/core/quantization/keras/BUILD
Labels: technique:qat

Automated Code Change
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/research/BUILD
Labels: none

Automated Code Change
  tensorflow_model_optimization/python/core/keras/testing/BUILD
Labels: none

Automated Code Change
  tensorflow_model_optimization/python/core/sparsity/keras/tools/BUILD
Labels: technique:pruning

Automated Code Change
  tensorflow_model_optimization/python/core/sparsity/keras/tools/BUILD
Labels: technique:pruning

Automated Code Change
  tensorflow_model_optimization/python/core/quantization/keras/BUILD
Labels: technique:qat

Automated Code Change
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/research/BUILD
Labels: none

Automated Code Change
  tensorflow_model_optimization/python/core/sparsity/keras/tools/BUILD
Labels: technique:pruning

Automated Code Change
  tensorflow_model_optimization/python/core/keras/testing/BUILD
Labels: none

Automated Code Change
  tensorflow_model_optimization/python/core/quantization/keras/BUILD
Labels: technique:qat

Automated Code Change
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/research/BUILD
Labels: none

Automated Code Change
  tensorflow_model_optimization/python/core/keras/testing/BUILD
Labels: none

Automated Code Change
  tensorflow_model_optimization/python/core/sparsity/keras/tools/BUILD
Labels: technique:pruning

Automated Code Change
  tensorflow_model_optimization/python/core/quantization/keras/BUILD
Labels: technique:qat

Automated Code Change
  tensorflow_model_optimization/python/core/keras/testing/BUILD
Labels: none

.github/labeler.yml:

# Copyright 2020 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

technique:clustering:
- tensorflow_model_optimization/python/core/clustering/**/*
- tensorflow_model_optimization/python/core/api/clustering/**/*
- tensorflow_model_optimization/python/examples/clustering/**/*
- tensorflow_model_optimization/g3doc/guide/clustering/**/*

technique:pruning:
- tensorflow_model_optimization/python/core/sparsity/**/*
- tensorflow_model_optimization/python/core/api/sparsity/**/*
- tensorflow_model_optimization/python/examples/sparsity/**/*
- tensorflow_model_optimization/g3doc/guide/pruning/**/*

technique:qat:
- tensorflow_model_optimization/python/core/quantization/**/*
- tensorflow_model_optimization/python/core/api/quantization/**/*
- tensorflow_model_optimization/python/examples/quantization/**/*
- tensorflow_model_optimization/g3doc/guide/quantization/**/*

comp:weight compression:
- tensorflow_model_optimization/python/core/common/keras/compression/**/*

# Note: this does not capture all PRs that need a API review.
api-review:
- tensorflow_model_optimization/python/core/api/**/*
