Repository tensorflow/model-optimization, changes with the labels that .github/labeler.yml gives for each.
All labels: technique:clustering, technique:pruning, technique:qat, comp:weight compression, api-review

Update release notes
  RELEASE.md
  tensorflow_model_optimization/python/core/version.py
Labels: none

Make sure the model for pruning integration test to run eagerly
  tensorflow_model_optimization/python/core/sparsity/keras/prune_integration_test.py
Labels: technique:pruning

Remove experimental modules from top level API
  tensorflow_model_optimization/python/core/api/quantization/keras/__init__.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize.py
Labels: technique:qat, api-review

MLTOOLS-1544 MbyN sparsity schedular
  tensorflow_model_optimization/python/core/api/sparsity/keras/__init__.py
  tensorflow_model_optimization/python/core/sparsity/keras/prune_integration_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_impl.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_impl_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_schedule.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_schedule_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_utils.py
  tensorflow_model_optimization/python/examples/sparsity/keras/mnist/mnist_e2e_sparsity2x4.py
Labels: technique:pruning, api-review

quick fix: only update m_by_n masks at step 1.
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_impl.py
Labels: technique:pruning

PR #847 debugging
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_impl.py
Labels: technique:pruning

address reviewer comment: update comment.
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_impl.py
Labels: technique:pruning

Update pruning api examples to use PolynomialDecay instead of ConstantSparsity.
  tensorflow_model_optimization/python/core/sparsity/keras/estimator_utils.py
  tensorflow_model_optimization/python/examples/sparsity/keras/mnist/mnist_cnn.py
Labels: technique:pruning

Revert "quick fix: only update m_by_n masks at step 1."
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_impl.py
Labels: technique:pruning

Add MbyN sparsity schedular
  tensorflow_model_optimization/python/core/api/sparsity/keras/__init__.py
  tensorflow_model_optimization/python/core/sparsity/keras/prune_integration_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_impl.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_impl_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_schedule.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_schedule_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_utils.py
  tensorflow_model_optimization/python/examples/sparsity/keras/mnist/mnist_e2e_sparsity2x4.py
Labels: technique:pruning, api-review

Revert "quick fix: only update m_by_n masks at step 1."
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_impl.py
Labels: technique:pruning

Internal change.
  tensorflow_model_optimization/python/core/internal/tensor_encoding/core/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/utils/BUILD
Labels: none

MLTOOLS-1572 Pruning with MHA + mnist example.
  tensorflow_model_optimization/python/core/sparsity/keras/prune_integration_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/prune_registry.py
  tensorflow_model_optimization/python/examples/sparsity/keras/mnist/mnist_mha.py
Labels: technique:pruning

Pruning of MultiHeadAttention layer.
  tensorflow_model_optimization/python/core/sparsity/keras/prune_integration_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/prune_registry.py
  tensorflow_model_optimization/python/examples/sparsity/keras/mnist/mnist_mha.py
Labels: technique:pruning

MLTOOLS-1565 Per-channel Clustering Implementation
  tensorflow_model_optimization/python/core/clustering/keras/cluster.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_integration_test.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_wrapper.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_algorithm.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_centroids.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_centroids_test.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry_test.py
  tensorflow_model_optimization/python/core/clustering/keras/experimental/cluster.py
  tensorflow_model_optimization/python/core/clustering/keras/mnist_clustering_test.py
Labels: technique:clustering

Update Concat transforms to handle QuantizeLayer inputs by removing quantizer. Allow quantize layer to take None quantizers.
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_transforms.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_layer.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_layer_test.py
Labels: technique:qat

Add default quantize config for layers.Concatenate
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_quantize_registry.py
  tensorflow_model_optimization/python/core/quantization/keras/experimental/default_n_bit/default_n_bit_quantize_registry.py
Labels: technique:qat

Make pruning wrapper internal variable follows global policy and cast back when assign back to weightsi
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_impl.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_wrapper.py
Labels: technique:pruning

MLTOOLS-1588 Notebook and changes to overview document on sparsity 2:4.
  tensorflow_model_optimization/g3doc/guide/pruning/index.md
  tensorflow_model_optimization/g3doc/guide/pruning/pruning_with_sparsity_2_by_4.ipynb
Labels: technique:pruning

Notebook and changes to the overview document on structural sparsity 2 by 4.
  tensorflow_model_optimization/g3doc/guide/pruning/index.md
  tensorflow_model_optimization/g3doc/guide/pruning/pruning_with_sparsity_2_by_4.ipynb
Labels: technique:pruning

Addressed reviewer's comments.
  tensorflow_model_optimization/python/examples/sparsity/keras/mnist/mnist_mha.py
Labels: technique:pruning

Add DenseBatchNormReLU transform for non-folded case
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_quantize_layout_transform.py
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_transforms.py
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_transforms_test.py
  tensorflow_model_optimization/python/core/quantization/keras/layers/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/layers/dense_batchnorm_test_utils.py
Labels: technique:qat

fix typo
  tensorflow_model_optimization/g3doc/guide/install.md
Labels: none

Cosmetic change for TODO comments in sparsity API
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_impl.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_wrapper.py
Labels: technique:pruning

Update Transform class comment.
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_transforms.py
Labels: technique:qat

Enable the Pruning wrapper API
  tensorflow_model_optimization/python/core/api/BUILD
  tensorflow_model_optimization/python/core/api/sparsity/keras/__init__.py
  tensorflow_model_optimization/python/core/sparsity/keras/BUILD
Labels: technique:pruning, api-review

Addressed reviewer's comments.
  tensorflow_model_optimization/g3doc/guide/pruning/index.md
Labels: technique:pruning

Addressed reviewer's comments.
  tensorflow_model_optimization/g3doc/guide/pruning/index.md
  tensorflow_model_optimization/g3doc/guide/pruning/pruning_with_sparsity_2_by_4.ipynb
Labels: technique:pruning

Addressed reviewer's comments.
  tensorflow_model_optimization/g3doc/guide/pruning/index.md
  tensorflow_model_optimization/g3doc/guide/pruning/pruning_with_sparsity_2_by_4.ipynb
Labels: technique:pruning

Minor update to the unit test for the upcoming Keras RNG change.
  tensorflow_model_optimization/python/core/clustering/keras/cluster_integration_test.py
Labels: technique:clustering

Fix compression API README file.
  tensorflow_model_optimization/python/core/common/keras/compression/README.md
Labels: comp:weight compression

Internal Change
  tensorflow_model_optimization/python/core/clustering/keras/BUILD
  tensorflow_model_optimization/python/core/common/keras/compression/algorithms/BUILD
Labels: technique:clustering, comp:weight compression

Resolve type mismatching bugs between given model weights and pruning variables of pruning api
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_impl.py
Labels: technique:pruning

Per-channel Clustering Implementation and Tests
  tensorflow_model_optimization/python/core/clustering/keras/cluster.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_integration_test.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_wrapper.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_algorithm.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_centroids.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_centroids_test.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry_test.py
  tensorflow_model_optimization/python/core/clustering/keras/experimental/cluster.py
  tensorflow_model_optimization/python/core/clustering/keras/mnist_clustering_test.py
Labels: technique:clustering

Add better error messages when attempting to quantize Lambda layers.
  tensorflow_model_optimization/python/core/quantization/keras/quantize.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_test.py
Labels: technique:qat

Update the Ubuntu CI Dockerfile
  ci/kokoro/gcp_ubuntu/Dockerfile
Labels: none

Make CI scripts more strict
  ci/kokoro/build.sh
  ci/kokoro/gcp_ubuntu/build.sh
Labels: none

Exclude enormous-sized tests from the CI
  ci/kokoro/build.sh
  tensorflow_model_optimization/python/core/quantization/keras/BUILD
Labels: technique:qat

Gather test logs as CI artifacts
  ci/kokoro/gcp_ubuntu/build.sh
  ci/kokoro/gcp_ubuntu/common.cfg
Labels: none

Allow to specify the Git repo location as an environment variable in CI scripts
  ci/kokoro/gcp_ubuntu/build.sh
Labels: none

.github/labeler.yml:

# Copyright 2020 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

technique:clustering:
- tensorflow_model_optimization/python/core/clustering/**/*
- tensorflow_model_optimization/python/core/api/clustering/**/*
- tensorflow_model_optimization/python/examples/clustering/**/*
- tensorflow_model_optimization/g3doc/guide/clustering/**/*

technique:pruning:
- tensorflow_model_optimization/python/core/sparsity/**/*
- tensorflow_model_optimization/python/core/api/sparsity/**/*
- tensorflow_model_optimization/python/examples/sparsity/**/*
- tensorflow_model_optimization/g3doc/guide/pruning/**/*

technique:qat:
- tensorflow_model_optimization/python/core/quantization/**/*
- tensorflow_model_optimization/python/core/api/quantization/**/*
- tensorflow_model_optimization/python/examples/quantization/**/*
- tensorflow_model_optimization/g3doc/guide/quantization/**/*

comp:weight compression:
- tensorflow_model_optimization/python/core/common/keras/compression/**/*

# Note: this does not capture all PRs that need a API review.
api-review:
- tensorflow_model_optimization/python/core/api/**/*
