Repository tensorflow/model-optimization, changes with the labels that .github/labeler.yml gives for each.
All labels: technique:clustering, technique:pruning, technique:qat, comp:weight compression, api-review

Fixes improper serialization code route for functional models.
  tensorflow_model_optimization/python/core/clustering/keras/cluster_test.py
  tensorflow_model_optimization/python/core/quantization/keras/graph_transformations/model_transformer.py
  tensorflow_model_optimization/python/core/quantization/keras/graph_transformations/model_transformer_test.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize.py
Labels: technique:clustering, technique:qat

Change the term 'blacklist' -> 'denylist'.
  tensorflow_model_optimization/g3doc/tools/build_docs.py
Labels: none

Create a local copy of `keras.utils.generic_utils.to_snake_case` at `pruning_wrapper.py`.
  tensorflow_model_optimization/python/core/sparsity/keras/BUILD
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_wrapper.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_wrapper_test.py
Labels: technique:pruning

Some error checking logics are updated due to cl/524418506.
  tensorflow_model_optimization/python/core/quantization/keras/quantize_test.py
Labels: technique:qat

Handle the error type reflect to the keras update.
  tensorflow_model_optimization/python/core/quantization/keras/quantize.py
Labels: technique:qat

Silence some pytype errors.
  tensorflow_model_optimization/python/core/common/keras/compression/internal/optimize.py
Labels: comp:weight compression

allow registering custom layers in `PruneRegistry` and `ClusteringRegistry`, and both to public API.
  tensorflow_model_optimization/python/core/api/clustering/keras/__init__.py
  tensorflow_model_optimization/python/core/api/sparsity/keras/__init__.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry.py
  tensorflow_model_optimization/python/core/sparsity/keras/prune_registry.py
Labels: technique:clustering, technique:pruning, api-review

formatting
  tensorflow_model_optimization/python/core/sparsity/keras/prune_registry.py
Labels: technique:pruning

allow registering custom layers in prune and clustering registries.
  tensorflow_model_optimization/python/core/api/clustering/keras/__init__.py
  tensorflow_model_optimization/python/core/api/sparsity/keras/__init__.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry.py
  tensorflow_model_optimization/python/core/sparsity/keras/prune_registry.py
Labels: technique:clustering, technique:pruning, api-review

Fix compatibility issues for the TF/Keras 2.13.
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_transforms.py
  tensorflow_model_optimization/python/core/quantization/keras/experimental/default_n_bit/default_n_bit_transforms.py
  tensorflow_model_optimization/python/core/sparsity/keras/prune_registry.py
Labels: technique:pruning, technique:qat

Internal test
  RELEASE.md
Labels: none

Block epr_test until deps issue is resolved.
  tensorflow_model_optimization/python/core/common/keras/compression/algorithms/BUILD
Labels: comp:weight compression

Update release notes and version for TFMOT release 0.7.5.
  RELEASE.md
  tensorflow_model_optimization/python/core/version.py
Labels: none

Internal Code Change
  tensorflow_model_optimization/python/core/clustering/keras/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/core/BUILD
  tensorflow_model_optimization/python/core/keras/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/BUILD
Labels: technique:clustering, technique:qat

Extract _clone_model_with_weights from quantize_apply
  tensorflow_model_optimization/python/core/quantization/keras/quantize.py
Labels: technique:qat

add original weight name as prefix for mask and threshold weights
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_wrapper.py
Labels: technique:pruning

Split large target under python/training/ and redirect references to the small targets.
  tensorflow_model_optimization/python/core/quantization/keras/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/quant_ops.py
Labels: technique:qat

Fix broken TFMO tests after Sequential serialization fix.
  tensorflow_model_optimization/python/core/quantization/keras/graph_transformations/model_transformer_test.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_integration_test.py
Labels: technique:qat

Increase the tolerance to remove flakiness
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/stages_impl_test.py
Labels: none

[NumPy] Fix test failures under NumPy 1.25.
  tensorflow_model_optimization/python/core/internal/tensor_encoding/testing/test_utils.py
Labels: none

Internal Code Change
  tensorflow_model_optimization/python/core/clustering/keras/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/collab_opts/cluster_preserve/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/collab_opts/prune_preserve/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/experimental/default_n_bit/BUILD
  tensorflow_model_optimization/python/core/sparsity/keras/BUILD
  tensorflow_model_optimization/python/core/sparsity/keras/tools/BUILD
  tensorflow_model_optimization/python/examples/clustering/keras/imdb/BUILD
Labels: technique:clustering, technique:pruning, technique:qat

remove early out
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_policy.py
Labels: technique:pruning

Remove private Keras imports.
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_transforms.py
Labels: technique:qat

Remove private Keras imports.
  tensorflow_model_optimization/python/core/quantization/keras/experimental/default_n_bit/default_n_bit_transforms.py
Labels: technique:qat

Remove invalid dependency on private py/keras package.
  tensorflow_model_optimization/python/core/sparsity/keras/BUILD
Labels: technique:pruning

Rewire TensorFlow to rely on tf_keras target.
  tensorflow_model_optimization/python/core/sparsity/keras/prune_registry.py
Labels: technique:pruning

Remove private Keras imports.
  tensorflow_model_optimization/python/core/sparsity/keras/prune_registry.py
Labels: technique:pruning

Internal Code Change
  tensorflow_model_optimization/python/core/clustering/keras/BUILD
  tensorflow_model_optimization/python/core/common/keras/compression/BUILD
  tensorflow_model_optimization/python/core/common/keras/compression/algorithms/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/core/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/encoders/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/research/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/testing/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/utils/BUILD
  tensorflow_model_optimization/python/core/keras/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/collab_opts/cluster_preserve/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/collab_opts/prune_preserve/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/experimental/default_n_bit/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/graph_transformations/BUILD
  tensorflow_model_optimization/python/core/sparsity/keras/BUILD
  tensorflow_model_optimization/python/core/sparsity/keras/tools/BUILD
Labels: technique:clustering, technique:pruning, technique:qat, comp:weight compression

Internal Code Change
  tensorflow_model_optimization/BUILD
  tensorflow_model_optimization/python/core/sparsity/keras/tools/BUILD
  tensorflow_model_optimization/python/examples/cluster_preserve_qat/keras/BUILD
  tensorflow_model_optimization/python/examples/clustering/keras/imdb/BUILD
  tensorflow_model_optimization/python/examples/clustering/keras/mnist/BUILD
  tensorflow_model_optimization/python/examples/quantization/keras/BUILD
  tensorflow_model_optimization/python/examples/quantization_with_sparsity/keras/BUILD
  tensorflow_model_optimization/python/examples/sparsity/keras/imdb/BUILD
  tensorflow_model_optimization/python/examples/sparsity/keras/mnist/BUILD
Labels: technique:clustering, technique:pruning, technique:qat

Fix structural pruning sparsity notebook
  tensorflow_model_optimization/g3doc/guide/pruning/pruning_with_sparsity_2_by_4.ipynb
Labels: technique:pruning

Update documentation in quantize.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize.py
Labels: technique:qat

Require `tf-keras` for future keras compatibility
  requirements.txt
Labels: none

Force to use the keras v2 version to resolve breakages in OSS
  tensorflow_model_optimization/python/core/keras/compat.py
  tensorflow_model_optimization/python/core/quantization/keras/BUILD
  tensorflow_model_optimization/python/core/sparsity/keras/prune_registry.py
  tensorflow_model_optimization/python/examples/sparsity/keras/mnist/BUILD
Labels: technique:pruning, technique:qat

Update release notes and version for TFMOT release 0.8.0.
  RELEASE.md
  pip_pkg.sh
  tensorflow_model_optimization/python/core/version.py
Labels: none

Updates security files
  SECURITY.md
Labels: none

Fix keras importing failures at the colab.
  tensorflow_model_optimization/g3doc/guide/clustering/clustering_example.ipynb
  tensorflow_model_optimization/g3doc/guide/pruning/pruning_with_keras.ipynb
  tensorflow_model_optimization/g3doc/guide/quantization/training_example.ipynb
Labels: technique:clustering, technique:pruning, technique:qat

Remove `security@tensorflow.org` from `SECURITY.md`
  SECURITY.md
Labels: none

Internal change.
  tensorflow_model_optimization/python/core/quantization/keras/experimental/default_n_bit/BUILD
Labels: technique:qat

Update quantize_wrapper.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_wrapper.py
Labels: technique:qat

Update quantize_layer.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_layer.py
Labels: technique:qat

.github/labeler.yml:

# Copyright 2020 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

technique:clustering:
- tensorflow_model_optimization/python/core/clustering/**/*
- tensorflow_model_optimization/python/core/api/clustering/**/*
- tensorflow_model_optimization/python/examples/clustering/**/*
- tensorflow_model_optimization/g3doc/guide/clustering/**/*

technique:pruning:
- tensorflow_model_optimization/python/core/sparsity/**/*
- tensorflow_model_optimization/python/core/api/sparsity/**/*
- tensorflow_model_optimization/python/examples/sparsity/**/*
- tensorflow_model_optimization/g3doc/guide/pruning/**/*

technique:qat:
- tensorflow_model_optimization/python/core/quantization/**/*
- tensorflow_model_optimization/python/core/api/quantization/**/*
- tensorflow_model_optimization/python/examples/quantization/**/*
- tensorflow_model_optimization/g3doc/guide/quantization/**/*

comp:weight compression:
- tensorflow_model_optimization/python/core/common/keras/compression/**/*

# Note: this does not capture all PRs that need a API review.
api-review:
- tensorflow_model_optimization/python/core/api/**/*
