Repository tensorflow/model-optimization, changes with the labels that .github/labeler.yml gives for each.
All labels: technique:clustering, technique:pruning, technique:qat, comp:weight compression, api-review

.github/labeler.yml:

# Copyright 2020 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

technique:clustering:
- tensorflow_model_optimization/python/core/clustering/**/*
- tensorflow_model_optimization/python/core/api/clustering/**/*
- tensorflow_model_optimization/python/examples/clustering/**/*
- tensorflow_model_optimization/g3doc/guide/clustering/**/*

technique:pruning:
- tensorflow_model_optimization/python/core/sparsity/**/*
- tensorflow_model_optimization/python/core/api/sparsity/**/*
- tensorflow_model_optimization/python/examples/sparsity/**/*
- tensorflow_model_optimization/g3doc/guide/pruning/**/*

technique:qat:
- tensorflow_model_optimization/python/core/quantization/**/*
- tensorflow_model_optimization/python/core/api/quantization/**/*
- tensorflow_model_optimization/python/examples/quantization/**/*
- tensorflow_model_optimization/g3doc/guide/quantization/**/*

comp:weight compression:
- tensorflow_model_optimization/python/core/common/keras/compression/**/*

# Note: this does not capture all PRs that need a API review.
api-review:
- tensorflow_model_optimization/python/core/api/**/*

Internal change
  tensorflow_model_optimization/python/core/quantization/keras/experimental/default_n_bit/BUILD
Labels: technique:qat

Internal change
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_impl.py
Labels: technique:pruning

BUILD cleanup
  tensorflow_model_optimization/python/BUILD
  tensorflow_model_optimization/python/core/BUILD
  tensorflow_model_optimization/python/core/api/BUILD
  tensorflow_model_optimization/python/core/clustering/BUILD
  tensorflow_model_optimization/python/core/internal/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/core/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/encoders/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/research/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/testing/BUILD
  tensorflow_model_optimization/python/core/internal/tensor_encoding/utils/BUILD
  tensorflow_model_optimization/python/core/keras/BUILD
  tensorflow_model_optimization/python/core/keras/testing/BUILD
  tensorflow_model_optimization/python/core/quantization/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/graph_transformations/BUILD
Labels: technique:clustering, technique:qat, api-review

BUILD cleanup
  tensorflow_model_optimization/python/core/quantization/keras/layers/BUILD
  tensorflow_model_optimization/python/core/sparsity/BUILD
  tensorflow_model_optimization/python/core/sparsity/keras/BUILD
  tensorflow_model_optimization/python/examples/clustering/keras/mnist/BUILD
  tensorflow_model_optimization/python/examples/quantization/keras/BUILD
  tensorflow_model_optimization/python/examples/sparsity/keras/imdb/BUILD
  tensorflow_model_optimization/python/examples/sparsity/keras/mnist/BUILD
Labels: technique:clustering, technique:pruning, technique:qat

Upgrade tensorflow version to 2.10.0
  ci/kokoro/gcp_ubuntu/Dockerfile
  ci/kokoro/run_bazel_unittests.sh
Labels: none

Increase the test size to have longer timeouts
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/BUILD
Labels: technique:qat

disable test temporarily
  tensorflow_model_optimization/python/core/common/keras/compression/algorithms/weight_clustering_test.py
Labels: comp:weight compression

Remove optimizer to compare model size and compare the zipped model size to pass the test. And enable test because now it passed.
  tensorflow_model_optimization/python/core/common/keras/compression/algorithms/weight_clustering_test.py
Labels: comp:weight compression

Switches Keras object serialization to new logic and changes public API for deserialize_keras_object/serialize_keras_object to the new functions.
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_quantize_registry_test.py
  tensorflow_model_optimization/python/core/quantization/keras/experimental/default_n_bit/default_n_bit_quantize_registry_test.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_annotate.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_layer.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_wrapper.py
  tensorflow_model_optimization/python/core/quantization/keras/quantizers_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_wrapper.py
Labels: technique:pruning, technique:qat

Replace `tensorflow.python.keras` with `keras`. `tensorflow.python.keras` is an old copy and is deprecated.
  tensorflow_model_optimization/python/core/clustering/keras/cluster_integration_test.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_test.py
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/cluster_preserve_integration_test.py
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/cluster_preserve_quantize_registry_test.py
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/prune_preserve/prune_preserve_quantize_registry_test.py
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_quantize_registry_test.py
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_quantizers_test.py
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_transforms.py
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/quantize_numerical_test.py
  tensorflow_model_optimization/python/core/quantization/keras/experimental/default_n_bit/default_n_bit_quantize_registry_test.py
  tensorflow_model_optimization/python/core/quantization/keras/experimental/default_n_bit/default_n_bit_quantizers_test.py
  tensorflow_model_optimization/python/core/quantization/keras/experimental/default_n_bit/default_n_bit_transforms.py
  tensorflow_model_optimization/python/core/quantization/keras/quant_ops_test.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_aware_activation_test.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_functional_test.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_integration_test.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_models_test.py
  tensorflow_model_optimization/python/core/quantization/keras/quantizers_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/BUILD
  tensorflow_model_optimization/python/core/sparsity/keras/prune_integration_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/prune_registry.py
  tensorflow_model_optimization/python/core/sparsity/keras/prune_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_callbacks_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_impl_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_schedule_test.py
Labels: technique:clustering, technique:pruning, technique:qat

Replace `tensorflow.python.keras` with `keras`. `tensorflow.python.keras` is an old copy and is deprecated.
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_quantize_registry_test.py
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_quantizers_test.py
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_transforms.py
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/quantize_numerical_test.py
Labels: technique:qat

Replace `tensorflow.python.keras` with `keras`. `tensorflow.python.keras` is an old copy and is deprecated.
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/cluster_preserve_integration_test.py
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/cluster_preserve_quantize_registry_test.py
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/prune_preserve/prune_preserve_quantize_registry_test.py
Labels: technique:qat

Replace `tensorflow.python.keras` with `keras`. `tensorflow.python.keras` is an old copy and is deprecated.
  tensorflow_model_optimization/python/core/quantization/keras/experimental/default_n_bit/default_n_bit_quantize_registry_test.py
  tensorflow_model_optimization/python/core/quantization/keras/experimental/default_n_bit/default_n_bit_quantizers_test.py
  tensorflow_model_optimization/python/core/quantization/keras/experimental/default_n_bit/default_n_bit_transforms.py
Labels: technique:qat

Replace `tensorflow.python.keras` with `keras`. `tensorflow.python.keras` is an old copy and is deprecated.
  tensorflow_model_optimization/python/core/clustering/keras/cluster_integration_test.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_test.py
Labels: technique:clustering

Replace `tensorflow.python.keras` with `keras`. `tensorflow.python.keras` is an old copy and is deprecated.
  tensorflow_model_optimization/python/core/sparsity/keras/BUILD
  tensorflow_model_optimization/python/core/sparsity/keras/prune_integration_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/prune_registry.py
  tensorflow_model_optimization/python/core/sparsity/keras/prune_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_callbacks_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_impl_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_schedule_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_wrapper.py
Labels: technique:pruning

Replace `tensorflow.python.keras` with `keras`. `tensorflow.python.keras` is an old copy and is deprecated.
  tensorflow_model_optimization/python/core/quantization/keras/quant_ops_test.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_aware_activation_test.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_functional_test.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_integration_test.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_models_test.py
  tensorflow_model_optimization/python/core/quantization/keras/quantizers_test.py
Labels: technique:qat

Change PruningSummaries to only log pruning information
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_callbacks.py
Labels: technique:pruning

Update comprehensive_guide.ipynb
  tensorflow_model_optimization/g3doc/guide/pruning/comprehensive_guide.ipynb
Labels: technique:pruning

Added an argument to support user-provided name prefix
  tensorflow_model_optimization/python/core/quantization/keras/quantize.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_models_test.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_wrapper.py
Labels: technique:qat

Remove the build deps to legacy keras code in tensorflow/python/keras.
  tensorflow_model_optimization/python/core/keras/testing/BUILD
  tensorflow_model_optimization/python/core/keras/testing/test_utils_mnist.py
  tensorflow_model_optimization/python/core/quantization/keras/BUILD
  tensorflow_model_optimization/python/core/sparsity/keras/BUILD
Labels: technique:pruning, technique:qat

Remove the build deps to legacy keras code in tensorflow/python/keras.
  tensorflow_model_optimization/python/core/keras/testing/BUILD
  tensorflow_model_optimization/python/core/keras/testing/test_utils_mnist.py
  tensorflow_model_optimization/python/core/quantization/keras/BUILD
  tensorflow_model_optimization/python/core/sparsity/keras/BUILD
Labels: technique:pruning, technique:qat

Bump up tensorflow version to 2.11.0 for continuous build tests.
  ci/kokoro/gcp_ubuntu/Dockerfile
  ci/kokoro/run_bazel_unittests.sh
Labels: none

Changes external references to `keras.utils.serialize_keras_object/deserialize_keras_object` to legacy serialization API in preparation for switching all of Keras to new serialization format.
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_quantize_registry_test.py
  tensorflow_model_optimization/python/core/quantization/keras/experimental/default_n_bit/default_n_bit_quantize_registry_test.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_annotate.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_aware_activation_test.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_config.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_layer.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_wrapper.py
  tensorflow_model_optimization/python/core/quantization/keras/quantizers_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_schedule_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_wrapper.py
Labels: technique:pruning, technique:qat

Cast using FunctionType instead of input_signature
  tensorflow_model_optimization/python/core/internal/tensor_encoding/core/simple_encoder_test.py
Labels: none

Fix casting-dependent tests
  tensorflow_model_optimization/python/core/internal/tensor_encoding/core/simple_encoder_test.py
Labels: none

Creates non-breaking changes where necessary in preparation for switching all of Keras to new serialization format.
  tensorflow_model_optimization/python/core/clustering/keras/cluster_test.py
  tensorflow_model_optimization/python/core/quantization/keras/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_quantize_registry_test.py
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_transforms.py
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_transforms_test.py
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/quantize_numerical_test.py
  tensorflow_model_optimization/python/core/quantization/keras/experimental/default_n_bit/default_n_bit_quantize_registry_test.py
  tensorflow_model_optimization/python/core/quantization/keras/experimental/default_n_bit/default_n_bit_transforms.py
  tensorflow_model_optimization/python/core/quantization/keras/experimental/default_n_bit/default_n_bit_transforms_test.py
  tensorflow_model_optimization/python/core/quantization/keras/graph_transformations/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/graph_transformations/model_transformer_test.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_annotate.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_aware_activation.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_aware_activation_test.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_config.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_integration_test.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_layer.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_wrapper.py
  tensorflow_model_optimization/python/core/quantization/keras/quantizers_test.py
  tensorflow_model_optimization/python/core/quantization/keras/utils.py
  tensorflow_model_optimization/python/core/sparsity/keras/BUILD
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_policy.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_schedule_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_wrapper_test.py
Labels: technique:clustering, technique:pruning, technique:qat

Creates non-breaking changes where necessary in preparation for switching all of Keras to new serialization format.
  tensorflow_model_optimization/python/core/clustering/keras/cluster_test.py
  tensorflow_model_optimization/python/core/quantization/keras/graph_transformations/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/graph_transformations/model_transformer_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/BUILD
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_policy.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_schedule_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_wrapper_test.py
Labels: technique:clustering, technique:pruning, technique:qat

Creates non-breaking changes where necessary in preparation for switching all of Keras to new serialization format.
  tensorflow_model_optimization/python/core/clustering/keras/cluster_test.py
  tensorflow_model_optimization/python/core/quantization/keras/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_quantize_registry_test.py
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_transforms.py
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_transforms_test.py
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/quantize_numerical_test.py
  tensorflow_model_optimization/python/core/quantization/keras/experimental/default_n_bit/default_n_bit_quantize_registry_test.py
  tensorflow_model_optimization/python/core/quantization/keras/experimental/default_n_bit/default_n_bit_transforms.py
  tensorflow_model_optimization/python/core/quantization/keras/experimental/default_n_bit/default_n_bit_transforms_test.py
  tensorflow_model_optimization/python/core/quantization/keras/graph_transformations/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/graph_transformations/model_transformer_test.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_annotate.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_aware_activation.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_aware_activation_test.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_config.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_integration_test.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_layer.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_wrapper.py
  tensorflow_model_optimization/python/core/quantization/keras/quantizers_test.py
  tensorflow_model_optimization/python/core/quantization/keras/utils.py
  tensorflow_model_optimization/python/core/sparsity/keras/BUILD
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_policy.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_schedule_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_wrapper_test.py
Labels: technique:clustering, technique:pruning, technique:qat

Fix broken link in comprehensive_guide.ipynb
  tensorflow_model_optimization/g3doc/guide/pruning/comprehensive_guide.ipynb
Labels: technique:pruning

Update filepaths for collaborative optimizations in QAT
  tensorflow_model_optimization/python/core/api/BUILD
  tensorflow_model_optimization/python/core/api/experimental/combine/__init__.py
  tensorflow_model_optimization/python/core/api/quantization/keras/__init__.py
  tensorflow_model_optimization/python/core/api/quantization/keras/collab_opts/__init__.py
  tensorflow_model_optimization/python/core/quantization/keras/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/collab_opts/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/collab_opts/__init__.py
  tensorflow_model_optimization/python/core/quantization/keras/collab_opts/cluster_preserve/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/collab_opts/cluster_preserve/__init__.py
  tensorflow_model_optimization/python/core/quantization/keras/collab_opts/cluster_preserve/cluster_preserve_integration_test.py
  tensorflow_model_optimization/python/core/quantization/keras/collab_opts/cluster_preserve/cluster_preserve_quantize_registry.py
  tensorflow_model_optimization/python/core/quantization/keras/collab_opts/cluster_preserve/cluster_preserve_quantize_registry_test.py
  tensorflow_model_optimization/python/core/quantization/keras/collab_opts/cluster_preserve/cluster_utils.py
  tensorflow_model_optimization/python/core/quantization/keras/collab_opts/cluster_preserve/default_8bit_cluster_preserve_quantize_scheme.py
  tensorflow_model_optimization/python/core/quantization/keras/collab_opts/cluster_preserve/mnist_prune_cluster_preserve_qat_test.py
  tensorflow_model_optimization/python/core/quantization/keras/collab_opts/prune_preserve/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/collab_opts/prune_preserve/__init__.py
  tensorflow_model_optimization/python/core/quantization/keras/collab_opts/prune_preserve/default_8bit_prune_preserve_quantize_scheme.py
  tensorflow_model_optimization/python/core/quantization/keras/collab_opts/prune_preserve/prune_preserve_quantize_registry.py
  tensorflow_model_optimization/python/core/quantization/keras/collab_opts/prune_preserve/prune_preserve_quantize_registry_test.py
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/BUILD
  tensorflow_model_optimization/python/examples/cluster_preserve_qat/keras/BUILD
  tensorflow_model_optimization/python/examples/cluster_preserve_qat/keras/mnist_cnn.py
  tensorflow_model_optimization/python/examples/quantization_with_sparsity/keras/BUILD
  tensorflow_model_optimization/python/examples/quantization_with_sparsity/keras/mnist_cnn.py
Labels: technique:qat, api-review

Adds documentation for the default_n_bit quantization scheme.
  tensorflow_model_optimization/python/core/quantization/keras/experimental/default_n_bit/README.md
Labels: technique:qat

Update README.md
  tensorflow_model_optimization/python/core/quantization/keras/experimental/default_n_bit/README.md
Labels: technique:qat

Update README.md
  tensorflow_model_optimization/python/core/quantization/keras/experimental/default_n_bit/README.md
Labels: technique:qat

Delete python2 imports from tensor encoding stages.
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/stages_impl.py
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/stages_impl_test.py
Labels: none

Add encoding type preservation support for float16 and bfloat16.
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/stages_impl.py
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/stages_impl_test.py
Labels: none

Move usages of `python/util:util` to the newly split up targets.
  tensorflow_model_optimization/python/core/quantization/keras/BUILD
Labels: technique:qat

Redirect references from `control_flow_ops.cond` to `cond.cond`.
  tensorflow_model_optimization/python/core/keras/BUILD
  tensorflow_model_optimization/python/core/keras/utils.py
Labels: none

Creates non-breaking changes where necessary in preparation for switching all of Keras to new serialization format.
  tensorflow_model_optimization/python/core/quantization/keras/quantize_config.py
Labels: technique:qat

Update release notes and version for TFMOT release 0.7.4.
  RELEASE.md
  ci/kokoro/gcp_ubuntu/Dockerfile
  tensorflow_model_optimization/python/core/version.py
Labels: none

[notebook] Use stable tensorflow release rather than nightly version.
  tensorflow_model_optimization/g3doc/guide/quantization/training_comprehensive_guide.ipynb
Labels: technique:qat
