Repository tensorflow/model-optimization, changes with the labels that .github/labeler.yml gives for each.
All labels: technique:clustering, technique:pruning, technique:qat, comp:weight compression, api-review

Added fix for clustering per channel for the case data_format = 'channels_first'
  tensorflow_model_optimization/python/core/clustering/keras/cluster_wrapper.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_centroids.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_centroids_test.py
Labels: technique:clustering

Added support for Conv1DTranspose + tests.
  tensorflow_model_optimization/python/core/clustering/keras/cluster_integration_test.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_test.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry.py
Labels: technique:clustering

Added support for Conv1DTranspose + tests.
  tensorflow_model_optimization/python/core/clustering/keras/cluster_integration_test.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_test.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_registry.py
Labels: technique:clustering

Explicitly import estimator from tensorflow as a separate import instead of accessing it via tf.estimator and depend on the tensorflow estimator target.
  tensorflow_model_optimization/python/core/sparsity/keras/BUILD
  tensorflow_model_optimization/python/core/sparsity/keras/estimator_utils.py
  tensorflow_model_optimization/python/examples/sparsity/keras/mnist/BUILD
Labels: technique:pruning

Make dependency on tensorflow-compression explicit.
  ci/kokoro/run_bazel_unittests.sh
  requirements.txt
Labels: none

MLTOOLS-1805 Removed duplicated folder.
  tensorflow_model_optimization/g3doc/guide/experimental/combine/collaborative_optimization.md
  tensorflow_model_optimization/g3doc/guide/experimental/combine/cqat_example.ipynb
  tensorflow_model_optimization/g3doc/guide/experimental/combine/images/collaborative_optimization.png
  tensorflow_model_optimization/g3doc/guide/experimental/combine/images/collaborative_optimization_dist.png
  tensorflow_model_optimization/g3doc/guide/experimental/combine/pqat_example.ipynb
  tensorflow_model_optimization/g3doc/guide/experimental/combine/sparse_clustering_example.ipynb
Labels: none

Internal change
  tensorflow_model_optimization/python/core/quantization/keras/quantize.py
  tensorflow_model_optimization/python/core/quantization/keras/quantizers.py
Labels: technique:qat

Removed extra comma after x_train
  tensorflow_model_optimization/python/core/sparsity/keras/prune_integration_test.py
Labels: technique:pruning

MLTOOLS-1695 Added documentation for clustering per channel.
  tensorflow_model_optimization/g3doc/guide/clustering/clustering_comprehensive_guide.ipynb
  tensorflow_model_optimization/g3doc/guide/combine/collaborative_optimization.md
  tensorflow_model_optimization/g3doc/guide/combine/cqat_example.ipynb
Labels: technique:clustering

Added documentation for clustering per channel.
  tensorflow_model_optimization/g3doc/guide/clustering/clustering_comprehensive_guide.ipynb
  tensorflow_model_optimization/g3doc/guide/combine/collaborative_optimization.md
  tensorflow_model_optimization/g3doc/guide/combine/cqat_example.ipynb
Labels: technique:clustering

Added missing link to blogpost on collaborative technique.
  tensorflow_model_optimization/g3doc/_index.yaml
Labels: none

Updated RELEASE notes.
  RELEASE.md
Labels: none

Updated RELEASE notes.
  RELEASE.md
Labels: none

Add relu6 supports.
  tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_quantize_registry.py
Labels: technique:qat

Remove `tf.function` to prevent frequent amounts of retracing.
  tensorflow_model_optimization/python/core/internal/tensor_encoding/core/gather_encoder.py
  tensorflow_model_optimization/python/core/internal/tensor_encoding/core/gather_encoder_test.py
Labels: none

Addressed reviewer's comment.
  tensorflow_model_optimization/g3doc/_index.yaml
Labels: none

Add reference to bug.
  ci/kokoro/run_bazel_unittests.sh
Labels: none

Bump version for upcoming release.
  tensorflow_model_optimization/python/core/version.py
Labels: none

Internal change.
  setup.py
Labels: none

Added overview docs.
  tensorflow_model_optimization/g3doc/guide/combine/collaborative_optimization.md
Labels: none

Added docs to CQAT example.
  tensorflow_model_optimization/g3doc/guide/combine/cqat_example.ipynb
Labels: none

Added docs to comprehensive ipynb example.
  tensorflow_model_optimization/g3doc/guide/clustering/clustering_comprehensive_guide.ipynb
Labels: technique:clustering

Addressed reviewer's comments.
  tensorflow_model_optimization/g3doc/guide/clustering/clustering_comprehensive_guide.ipynb
  tensorflow_model_optimization/g3doc/guide/combine/cqat_example.ipynb
Labels: technique:clustering

Add information to error message.
  tensorflow_model_optimization/python/core/quantization/keras/quantize.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_test.py
Labels: technique:qat

Fix mot notebook bug
  tensorflow_model_optimization/g3doc/guide/combine/cqat_example.ipynb
Labels: none

Add `remove_input_range` method that removes input range after apply quantize.
  tensorflow_model_optimization/python/core/api/quantization/keras/__init__.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize.py
  tensorflow_model_optimization/python/core/quantization/keras/quantizers.py
  tensorflow_model_optimization/python/core/quantization/keras/quantizers_test.py
Labels: technique:qat, api-review

Add the option to enable adding tensorflow dependency control to the randomized variables generated in rounding.
  tensorflow_model_optimization/python/core/internal/tensor_encoding/encoders/common_encoders.py
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/stages_impl.py
Labels: none

Fixes for GitHub Issue #979
  tensorflow_model_optimization/python/core/clustering/keras/cluster.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_integration_test.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_test.py
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/cluster_preserve_integration_test.py
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/cluster_preserve_quantize_registry.py
Labels: technique:clustering, technique:qat

Remove unused import
  tensorflow_model_optimization/python/core/clustering/keras/cluster.py
Labels: technique:clustering

Adds faster variant of EPR.
  tensorflow_model_optimization/python/core/common/keras/compression/algorithms/BUILD
  tensorflow_model_optimization/python/core/common/keras/compression/algorithms/epr.py
  tensorflow_model_optimization/python/core/common/keras/compression/algorithms/epr_test.py
Labels: comp:weight compression

Make the utils module public available.
  tensorflow_model_optimization/python/core/keras/BUILD
Labels: none

Make the utils module public available.
  tensorflow_model_optimization/python/core/keras/BUILD
Labels: none

set seed to ensure consistency of ci test
  tensorflow_model_optimization/python/core/internal/tensor_encoding/stages/stages_impl_test.py
Labels: none

Update release notes and version for TFMOT release 0.7.3.
  RELEASE.md
Labels: none

Bump up tensorflow version to 2.9.1 for continuous build tests.
  ci/kokoro/gcp_ubuntu/Dockerfile
  ci/kokoro/run_bazel_unittests.sh
Labels: none

Bump up dependent packages for model-optimization repo to be compatible with tensorflow 2.9.1.
  requirements.txt
  setup.py
Labels: none

Added relu6 as a supported activation for DefaultNBitActivationQuantizeConfig
  tensorflow_model_optimization/python/core/quantization/keras/experimental/default_n_bit/default_n_bit_quantize_registry.py
Labels: technique:qat

Add SECURITY.md with disclosure instructions that references the main TensorFlow repo security policy.
  google3/third_party/tensorflow_model_optimization/opensource/SECURITY.md
Labels: none

Add SECURITY.md with disclosure instructions that references the main TensorFlow repo security policy.
  google3/third_party/tensorflow_model_optimization/opensource/SECURITY.md
Labels: none

Add SECURITY.md with disclosure instructions that references the main TensorFlow repo security policy.
  SECURITY.md
Labels: none

.github/labeler.yml:

# Copyright 2020 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

technique:clustering:
- tensorflow_model_optimization/python/core/clustering/**/*
- tensorflow_model_optimization/python/core/api/clustering/**/*
- tensorflow_model_optimization/python/examples/clustering/**/*
- tensorflow_model_optimization/g3doc/guide/clustering/**/*

technique:pruning:
- tensorflow_model_optimization/python/core/sparsity/**/*
- tensorflow_model_optimization/python/core/api/sparsity/**/*
- tensorflow_model_optimization/python/examples/sparsity/**/*
- tensorflow_model_optimization/g3doc/guide/pruning/**/*

technique:qat:
- tensorflow_model_optimization/python/core/quantization/**/*
- tensorflow_model_optimization/python/core/api/quantization/**/*
- tensorflow_model_optimization/python/examples/quantization/**/*
- tensorflow_model_optimization/g3doc/guide/quantization/**/*

comp:weight compression:
- tensorflow_model_optimization/python/core/common/keras/compression/**/*

# Note: this does not capture all PRs that need a API review.
api-review:
- tensorflow_model_optimization/python/core/api/**/*
