Repository tensorflow/model-optimization, pull requests merged in 2021-06, with the labels that each got.

#702 Fix for sparsity-preserving clustering
  tensorflow_model_optimization/python/core/clustering/keras/BUILD
  tensorflow_model_optimization/python/core/clustering/keras/cluster_distributed_test.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_integration_test.py
  tensorflow_model_optimization/python/core/clustering/keras/cluster_wrapper.py
  tensorflow_model_optimization/python/core/clustering/keras/mnist_clustering_test.py
Labels: cla: yes, ready to pull, technique:clustering, technique:pruning, technique:qat

#699 [Collaborative optimization] Pruning-Clustering-preserving Quantization Aware Training
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/BUILD
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/cluster_preserve_integration_test.py
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/cluster_preserve_quantize_registry.py
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/cluster_preserve_quantize_registry_test.py
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/cluster_utils.py
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/default_8bit_cluster_preserve_quantize_scheme.py
  tensorflow_model_optimization/python/core/quantization/keras/collaborative_optimizations/cluster_preserve/mnist_prune_cluster_preserve_qat_test.py
Labels: cla: yes, ready to pull, technique:clustering, technique:qat

#712 Updated release notes with clustering items.
  RELEASE.md
Labels: cla: yes, ready to pull, technique:clustering
