Repository tensorflow/model-optimization, pull requests merged in 2021-08, with the labels that each got.

#774 Update required custom objects
  tensorflow_model_optimization/python/core/quantization/keras/quantize.py
  tensorflow_model_optimization/python/core/quantization/keras/quantize_config.py
Labels: cla: yes, ready to pull, technique:qat

#743 [Pruning] Structured pruning 2x4.
  tensorflow_model_optimization/python/core/sparsity/keras/prune_integration_test.py
  tensorflow_model_optimization/python/core/sparsity/keras/pruning_wrapper_test.py
Labels: cla: yes, ready to pull, technique:pruning

#806 Update TFMOT cluster guide with custom Keras layer clustering
  tensorflow_model_optimization/g3doc/guide/clustering/clustering_comprehensive_guide.ipynb
Labels: cla: yes, ready to pull, technique:clustering
