Repository tensorflow/model-optimization, pull requests merged in 2021-04, with the labels that each got.

#597 [Clustering] Adding a unit test to check all needed weights are returned by cluster_wrapper.
  tensorflow_model_optimization/python/core/clustering/keras/cluster_wrapper_test.py
Labels: cla: yes, ready to pull, technique:clustering

#630 [Pruning] Fix pruning integration test bug
  tensorflow_model_optimization/python/core/sparsity/keras/prune_integration_test.py
Labels: cla: yes, ready to pull, technique:pruning

#616 [clustering] Clusterable layer API
  tensorflow_model_optimization/python/core/clustering/keras/cluster_test.py
  tensorflow_model_optimization/python/core/clustering/keras/clustering_algorithm.py
Labels: api-review, cla: yes, ready to pull, technique:clustering
